
<ion-view view-title="Хэрэглэгчийн мэдээлэл">
    <ion-content>
    <div class="row">
        <div class="col "><button class="button icon-left ion-chevron-left button-clear button-dark ink" style="padding-left:5%;font-weight:bold" ng-click="goBack()">Буцах</button></div>
        <div class="col"><p style="font-size:16px;background-color:#FF5700;color:white;padding:5px;border-radius:5px;margin-top:4%;text-align:center">Тасалбар</p></div>
    </div>	
    <ion-slide-box on-slide-changed="slideChanged($index)" show-pager="false" >
     <ion-slide ng-repeat="i in countof" >
             <a ng-click="openModal()">
             <img src="img/ticket.png"  ng-if="ticket.ticket_type != 'Urilga'"style="width:100%;height:100%">
             <img src="img/urilga_black.png" ng-if="ticket.ticket_type == 'Urilga'" style="width:100%;height:100%">
             </a>
             <span ng-if="ticket.ticket_isActive == true" class="ticketImgNew" ng-click="deleteTicket(ticket)" >Устгах</span>
             <span ng-if="ticket.ticket_isActive == false" class="ticketImgNew">Шинэ</span>
      </ion-slide>
</ion-slide-box>
    </ion-content>
</ion-view>