<ion-view view-title="{{items.name}}">
</div>
  <ion-content>
    <ion-refresher pulling-text="Уншиж байна..." on-refresh="doRefresh()">
  </ion-refresher>
  	<ion-list>
 		 <ion-item ng-repeat="list in items.events" href="#/app/playlists/{{list.id}}">
		   <div class="list" >
          <div class="item item-body">
          <img src="http://52.69.108.195:1337/{{list.event_cover}}"  style="height:100%" class="full-image">
            <p >{{list.event_start_date | date:'medium'}}</p>
            <h2 >{{list.event_title}}</h2>
            <p class="address">{{list.event_location}}</p>
          </div>
		</div>
  		</ion-item>
</ion-list>
  </ion-content>
</ion-view>
