<ion-view view-title="Миний тасалбар" >
  <ion-content >
    <ion-refresher pulling-text="Уншиж байна..." on-refresh="doRefresh()">
    </ion-refresher>
    <div class="row">
      <div class="col" ><button class="button icon-left ion-chevron-left button-clear button-dark ink"  style="padding-left:5%;font-weight:bold" ng-click="goBack()">Буцах</button>
      </div>
      <div class="col" style="text-align:center"><h4 style="font-size:16px;background-color:#FF5700;color:white;padding:5px;border-radius:5px;text-align:center;margin-top:5%">Таны тасалбар: {{TicketOfEvent.length}}  </h4></div>
      </div>
      <ion-list >
      <hr>
           <div class="list" ng-repeat="ticket in TicketOfEvent | orderBy:'ticket_event.event_start_date'" style="margin-bottom:0">
    <a class="item item-thumbnail-left" href="#/app/myticket/{{ticket.id}}/detail" style="padding-bottom:5px">
      <img src="http://52.69.108.195:1337/{{ticket.ticket_event.event_cover}}">
      <h3 style="font-size:16px;font-weight:bold">{{ticket.ticket_event.event_title}}</h3>
    <p><i class="icon ion-ios-location-outline"></i> &nbsp{{ticket.ticket_event.event_location}}</p>
    <p><i class="icon ion-ios-calendar-outline"></i> &nbsp{{ticket.ticket_event.event_start_date| date:'EEEE, MMMM d, y , hh:mma'}}</p>
    <p><i class="fa fa-ticket"></i> {{ticket.ticket_countof}} ширхэг</p>
    </a>
     <hr>
  </div>
      </ion-list>  
    </ion-content>
</ion-view>
