<ion-view view-title="{{list.name}}">
  <ion-content >
  <ion-refresher pulling-text="Loading..." on-refresh="doRefresh()">
  </ion-refresher>
    <ion-list can-swipe="true">
      <ion-item ng-repeat="list in lists | orderBy:'createdAt':true" href="#/app/playlists/{{list.objectId}}" >
      <div class="list card" >
  <div class="item item-body">
          <img src="{{list.img}}"  style="height:100%" class="full-image">
            <p >{{list.time | date:'medium'}}</p>
            <h2 >{{list.title}}</h2>
            <p class="address">{{list.address}}</p>
  </div>
  <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-arrow-right-c"></i>
  More...
  </a>
</div>
        <ion-option-button class="button-light icon ion-heart"></ion-option-button>
            <ion-option-button class="button-light icon ion-email"></ion-option-button>
                <ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>
      </ion-item>
  
    </ion-list>
  </ion-content>
</ion-view>