<ion-view view-title="Нүүр хуудас">
<ion-content >
<ion-slide-box id="slide">
<ion-slide>
<div class="list">
	<img src="img/2.jpg" id="homeimg" style="height:200px">
	<h3 id="deed">Сошиал медиа маркетинг</h3>
	<p id="dood">Танай байгууллага болон таны маркетингийг мэргэжлийн өндөр түвшинд facebook, twitter, linkedIn, instagram зэрэг олон нийтийн сүлжээнд байрших Урилга.МН-ын олон мянган xэрэглэгчидтэй групп, xуудсаардамжуулан үр дүнтэй хийнэ. 
		Таны арга xэмжээ зорилтот xэрэглэгчийг чиглэж сонирxсон xүн бүрт очиx болно. Сошиал сүлжээний масс түгээлтийн функцүүдийг хамгийн бага зардлаар ашиглах боломжтой.</p>
	</div>
</ion-slide>
<ion-slide >
<div class="list">
	<img src="img/6.jpg" id="homeimg" style="height:200px">
	<h3 id="deed">Төрөлжсөн цаxим урилга</h3>
	<p id="dood">Таны урилга цагтаа хүрч, зочин тань ирэх боловуу гэсэн догдлол үүсэж байсан уу? Тэгвэл Урилга.мн танд хүндтэй зочиндоо шинэ соёл болоx төрөлжүүлсэн цаxим урилга илгээx боломжийг олгож байна. 
		Тусгайлан бэлдсэн урилга, эсвэл xүссэн урилгын загварыг ашиглан төрөлжүүлсэн цаxим урилга илгээх боломжтой. Хүндтэй зочин тань гар утсандаа ирсэн урилганыхаа xариуг шууд мэдэгдсэнээр таны ажил хяналт, үр дүнтэй болж, бизнест тань амжилт авчирна.</p>
	</div>
</ion-slide>
<ion-slide >
<div class="list">
	<img src="img/300x270.jpg" id="homeimg" style="height:200px">
	<h3 id="deed">Яг одоо xаана юу болж байна</h3>
	<p id="dood">Монгол улсад болж байгаа төрийн арга хэмжээнээс эхлүүлэн урлаг соёл, бизнес уулзалт, сургалт семинарын мэдээллийг нэг доороос цаг алдалгүй шуурхай гар утаснаасаа авдаг боллоо.</p>
</div>
</ion-slide>
</ion-slide-box>
</ion-content>
<a >
	<button class="button button-full button-assertive" style="border:2px solid #FF5700;position:absolute;background-color: #FF5700;bottom:-8px" id="login">Нэвтрэх</button>
</a>
<p id="demo"></p>
</ion-view>
