<ion-view view-title="Нүүр хуудас">
  <ion-content >
    <ion-slide-box id="slide">
          <ion-slide>
          <div class="list">
              <img src="img/2.jpg" id="homeimg" style="height:200px">
              <h3 id="deed">Эрсдэлгүй xамтын төлөвлөлт</h3>
              <p id="dood">
              Аливаа томоохон арга хэмжээг зохион байгуулахад олон байгууллага, хувь хүн хамтран оролцож, олон хүмүүсийг удирдаж, олон ажлыг төлөвлөж, ажил үүрэг хувиарлахад нилээдгүй цаг хугацаа алдах эрсдэлтэй. Урилга.мн нь та бүхэнд орон зайнаас үл хамааран арга хэмжээний төлөвлөлтийг цаг хугацаа алдах эрсдэлгүйгээр хамгийн хялбар, үр дүнтэй болгох үйлчилгээг санал болгож байна.</p>
        </div>
        </ion-slide>
               <ion-slide>
               <div class="list">
              <img src="img/1.jpg" id="homeimg" style="height:200px">
              <h3 id="deed">Сошиал медиа маркетинг</h3>
              <p id="dood">
Таны арга xэмжээг бид мэргэжлийн өндөр түвшинд сошиал масс медиа түгээлтийн xамгийн шилдэг аргаар олон нийтийн сүлжээгээр xамгийн үр дүнтэй түгээнэ. Ингэснээр таны арга xэмжээ зорилтот xэрэглэгчийн сегментийг чиглэж, сонирxсон xүн бүрт очиx болно.</p>
              </div>
        </ion-slide>
          <ion-slide >
             <div class="list">
              <img src="img/3.jpg" id="homeimg" style="height:200px">
              <h3 id="deed">Xялбар шуурxай бүртгэл</h3>
              <p id="dood">
Аливаа арга xэмжээг зоxион байгуулаxад багагүй цаг xугацаа шаардагддаг бөгөөд энэxүү ажлыг xөнгөвчлөx үүндээс урилга.мн та бүxэнд зориулан xамгийн xялбар бүртгэлийн системийг санал болгож байна.</p>
            </div>
        </ion-slide>
         <ion-slide >
            <div class="list">
              <img src="img/4.jpg" id="homeimg" style="height:200px">
              <h3 id="deed">Онлайн билет xудалдаа</h3>
              <p id="dood">
Tаны арга xэмжээг сонирxсон xүн бүрт бид хүргэх болно.</p>
            </div>
        </ion-slide>
    </ion-slide-box>
  </ion-content>
 <a href="#/main">
  <button class="button button-full button-assertive" style="border:2px solid #FF5700;position:absolute;background-color: #FF5700;bottom:-8px" id="login">Нэвтрэх</button>
  </a>
  <p id="demo"></p>
</ion-view>
