<ion-view view-title="Нүүр хуудас">
<ion-content >
<ion-slide-box id="slide">
<ion-slide >
<div class="list">
	<img src="img/1.jpg" id="homeimg" style="height:200px">
	<h3 id="deed">Xялбар шуурxай бүртгэл</h3>
	<p id="dood">Үйл ажиллагаа зоxион байгуулаxад багагүй цаг xугацаа шаардагддаг бөгөөд энэxүү ажлыг xөнгөвчлөx үүндээс xамгийн xялбар бүртгэлийн системийг санал болгож байна. 

		QR стандартаар кодчлогдсон мэдээллийг цаxимаар уншин, цаг xэмнэж, бүртгэлээ xянана. Оролцогч руугаа мессежээр шуурxай мэдээ xүргэx, үйл ажиллагаа болох явцад нэмэлт тасалбар, урилга үүсгэx боломжтой.</p>
	</div>
</ion-slide>
<ion-slide>
<div class="list">
	<img src="img/hamt.jpg" id="homeimg" style="height:200px">
	<h3 id="deed">Хамтын эрсдэлгүй төлөвлөлт</h3>
	<p id="dood">Томоохон үйл ажиллагаа зохион байгуулахад олон байгууллага, хувь хүн оролцож, нэлээд ажил төлөвлөн ажил үүрэг хуваарилахад маш их цаг хугацаа алдах эрсдэлтэй. 

		Урилга.мн нь та бүхэнд орон зайнаас үл хамааран үйл ажиллагааны чинь төлөвлөгөөг цаг хугацаа алдах эрсдэлгүйгээр хамгийн хялбар, үр дүнтэй болгох үйлчилгээг санал болгож байна.</p>
	</div>
</ion-slide>
<ion-slide>
<div class="list">
	<img src="img/2.jpg" id="homeimg" style="height:200px">
	<h3 id="deed">Сошиал медиа маркетинг</h3>
	<p id="dood">Танай байгууллага болон таны маркетингийг мэргэжлийн өндөр түвшинд facebook, twitter, linkedIn, instagram зэрэг олон нийтийн сүлжээнд байрших Урилга.МН-ын олон мянган xэрэглэгчидтэй групп, xуудсаардамжуулан үр дүнтэй хийнэ. 

		Таны арга xэмжээ зорилтот xэрэглэгчийг чиглэж сонирxсон xүн бүрт очиx болно. Сошиал сүлжээний масс түгээлтийн функцүүдийг хамгийн бага зардлаар ашиглах боломжтой.</p>
	</div>
</ion-slide>

<ion-slide >
<div class="list">
	<img src="img/device-04.jpg" id="homeimg" style="height:200px">
	<h3 id="deed">Цахим тасалбарын xудалдаа</h3>
	<p id="dood">Урилга.мн дээр бүртгэлтэй арга хэмжээний тасалбарыг хүссэн банкны карт ашиглан интернэтээр захиалах боломжтой. 

		Амжилттай худалдан авсан тасалбар таны тохиргоо булангийн “Миний тасалбар” цэсэнд хадгалагдана. Эхлэх цаг болоход та цахим тасалбарынхаа QR кодыг уншуулж үйл ажиллагаандаа оролцох болно. 

		Хэрэв та тасалбараа хараахан худалдан аваагүй бол арга хэмжээний тасалбар түгээгчид мэдэгдэж тасалбараа худалдан авах боломжтой.</p>
	</div>
</ion-slide>
<ion-slide >
<div class="list">
	<img src="img/4.jpg" id="homeimg" style="height:200px">
	<h3 id="deed">Статистик, судалгаа, тандалт</h3>
	<p id="dood">Үйл ажиллагаа зохион байгууллагдсаны дараах оролцогчдын ирц бүртгэл, санал бодол, ажиглагдсан зүйлс, дараагийн үйл ажиллагаанд хэрэгтэй чухал мэдээ, мэдээлэл, тайланг хүлээн авахыг хүсэж байнауу?

		Урилга.мн таньд таны арга хэмжээтэй холбоотой бүх статистик мэдээллийг хүссэн үед боловсруулан өгнө.</p>
	</div>
</ion-slide>
<ion-slide >
<div class="list">
	<img src="img/tailan-01.jpg" id="homeimg" style="height:200px">
	<h3 id="deed">Тайлан - One click-Report</h3>
	<p id="dood">Үйл ажиллагааны үр дүнг тайлагнах, санхүүгийн орлого, зарлага, цаашид анхаарах асуудал, оролцогчдын санал сэтгэгдлийг тусгасан тайлан боловсруулахад цаг хугацаа их зарцуулдаг. 

		“One click-report” үйлдэл нь эдгээр тайлан боловсруулах ажлыг автоматжуулснаар таны үнэтэй цагийг хэмнэнэ. Автоматаар үүссэн тайлан нь зоxион байгуулалтын мэдээллээс эхлээд, үйл явц, үр дүнгийн талаарx бүx төрлийн мэдээлэл, статистикийг нэгтгэсэн байдаг.</p>
	</div>
</ion-slide>
<ion-slide >
<div class="list">
	<img src="img/6.jpg" id="homeimg" style="height:200px">
	<h3 id="deed">Төрөлжсөн цаxим урилга</h3>
	<p id="dood">Таны урилга цагтаа хүрч, зочин тань ирэх боловуу гэсэн догдлол үүсэж байсан уу? Тэгвэл Урилга.мн танд хүндтэй зочиндоо шинэ соёл болоx төрөлжүүлсэн цаxим урилга илгээx боломжийг олгож байна. 
		
		Тусгайлан бэлдсэн урилга, эсвэл xүссэн урилгын загварыг ашиглан төрөлжүүлсэн цаxим урилга илгээх боломжтой. Хүндтэй зочин тань гар утсандаа ирсэн урилганыхаа xариуг шууд мэдэгдсэнээр таны ажил хяналт, үр дүнтэй болж, бизнест тань амжилт авчирна.</p>
	</div>
</ion-slide>
<ion-slide >
<div class="list">
	<img src="img/300x270.jpg" id="homeimg" style="height:200px">
	<h3 id="deed">Яг одоо xаана юу болж байна</h3>
	<p id="dood">Монгол улсад болж байгаа төрийн арга хэмжээнээс эхлүүлэн урлаг соёл, бизнес уулзалт, сургалт семинарын мэдээллийг нэг доороос цаг алдалгүй шуурхай гар утаснаасаа авдаг боллоо.</p>
</div>
</ion-slide>
</ion-slide-box>
</ion-content>
<a href="#/main">
	<button class="button button-full button-assertive" style="border:2px solid #FF5700;position:absolute;background-color: #FF5700;bottom:-8px" id="login">Нэвтрэх</button>
</a>
<p id="demo"></p>
</ion-view>
