<ion-view cache-view="false">
<ion-nav-bar align-title="right">
<ion-nav-buttons side="left" >
<button class="button-clear" ng-click="goBack()" style="width:100px;padding-left:0;background-color:white;color:black">
  <i class="fa fa-chevron-left" style="font-size:22px;font-family:'m3'"> Буцах</i>  
</button>
</ion-nav-buttons>
<ion-nav-title style="font-family:'m3';border:1px solid;background-color:#FF5700;color:white;padding:5px;padding-left:15px;padding-right:15px;border-radius:5px;border-color:#FF5700;font-size:18px" >
Таны урилга:{{urilga.length}}
</ion-nav-title>
</ion-nav-bar>
<ion-content >
<ion-refresher pulling-text="Уншиж байна..." on-refresh="doRefresh()">
</ion-refresher>
   <div class="list" ng-repeat="(key,ticket) in urilga | groupBy:'ticket_transaction_id'| orderBy: 'createdAt'" style="margin:0">
        <a  id="ticket" class="item item-thumbnail-left" href="#/app/invitation/{{key}}/img">
                   <img ng-cache ng-src="{{backsite}}/{{ticket[0].ticket_event.event_cover}}" >
      <h3 style="font-family:'m3';font-size:18px;font-weight:bold"> {{ticket[0].ticket_event.event_title}}</h3>
        <div class="row" style="padding:0 0 5px 0">
            <div class="col col-10" style="padding:0">
                <p id="desc"><i class="icon ion-ios-location-outline" id="icon"></i></p>
            </div>
            <div class="col col-90" style="padding:0">
                <p id="desc">{{ticket[0].ticket_event.event_location}}</p>
            </div>
        </div>
         <div class="row" style="padding:0 0 5px 0">
            <div class="col col-10" style="padding:0">
                <p id="desc"><i class="icon ion-ios-calendar-outline" id="icon"></i></p>
            </div>
            <div class="col col-90" style="padding:0">
                <p id="desc">{{ticket[0].ticket_event.event_start_date| date:'EEEE, MMMM d, y '}}</p>
            </div>
        </div>
           <div class="row" style="padding:0 0 5px 0">
            <div class="col col-10" style="padding:0">
                <p id="desc"><i class="fa fa-ticket" id="icon"></i></p>
            </div>
            <div class="col col-90" style="padding:0">
                <p id="desc">{{ticket.length}} ширхэг</p>
            </div>
        </div>
    </a>
  <div class="button-bar" ng-if="ticket.ticket_isActive == false ">
     <button class="button button-block button-assertive" style="opacity:0.8" ng-click="deleteTicket(ticket)" >Татгалзах</button>
     <button class="button button-block button-balanced" style="opacity:0.8" ng-click="acceptTicket(ticket)">Зөвшөөрөх</button>
</div>
<hr >
    </div>
<div class="card" ng-if="urilga.length == 0">
 <div class="item item-text-wrap" style="font-family:'m3';font-size:18px;text-align:center">
  Мэдээлэл ороогүй байна.
</div>
</div>
</ion-content>
</ion-view>
