<ion-view view-title="Миний урилга">
	<ion-content>
    <ion-refresher pulling-text="Уншиж байна..." on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list >
        <ion-item ng-repeat="ticket in tickets">
              <div class="list" style="border: 12px groove #ff0000;border-radius: 30px 30px 30px 30px" ng-click="show($index)">
                  <div class="row">
                        <div class="col"></div>
                        <div class="col col-50" style="text-align:center" ><img src="img/logo.png"  style="heigth:100%"></div>
                        <div class="col"></div>
                  </div>
                  <div class="card card-light">
                    <div class="item item-light">
                      <h2 style="text-align:center">Баяр хүргэе</h2>
                    </div>
                    <div class="item item-text-wrap">
                    <h2 style="text-align:center">Танд <b>{{ticket.ticket_event.event_title}}</b> арга хэмжээний  <b>{{ticket.ticket_countof}}</b> урилга ирсэн байна.</h2>
                    </div>
                        <div class="button-bar">
                            <button class="button button-balanced" ng-click="Accept()">Зөвшөөрөх</button>
                              <button class="button button-assertive" ng-click="Eject()">Татгалзах</button>
                         </div>
                 </div>
              </div>

      </ion-item>
    </ion-list>
    <ion-content>
</ion-view>
