<ion-view view-title="Login">
  <ion-content>
    <ion-item >
     
  					<div class="list">
			  				<label class="item item-input item-floating-label" id="lgnname">
			 			   			<span class="input-label">Username</span>
			    		   			<input type="text" placeholder="Username">
			  			   </label>
			 				 <label class="item item-input item-floating-label" id="lgnpass">
			    			
			    					<span class="input-label">Password</span>
			    					<input type="text" placeholder="Password">
			  				</label>
			  			
			  				<button class="button button-full button-positive" ng-click="startApp()" type="submit" id="lgnbtn">
			  						Login
						   </button>
				{{userinfo.email}}xaxa
					</div>	
				}
				}
		   <div class="row">
		   		<div class="col"></div>
		   		<div class="col col-50"><a href="#/register"><p style="text-align:center">Register?</p></a></div>
		   		<div class="col"></div>
		   </div>
  			<div class="row" >
		    		  <div class="col" ></div>
  			<div class="col col-50"> 
  						<label >
  							<span><p  style="text-align:center">Sign in with</p></span>
  						</label>	
			</div>	
			  <div class="col" ></div>
			</div>
		 		
  			</div>
  				<div class="row" >
		    		  <div class="col" ></div>
  			<div class="col col-50"> 
  						<div class="row" >
  								<div class="col col-33">
  								<i class="ion-social-facebook"></i></p>	
  								</div>
  								<div class="col col-33">
  									<i class="ion-social-twitter"></i>
  								</div>
  								<div class="col col-33">
  									<i class="ion-social-googleplus"></i>
  								</div>
  						</div>
			</div>	
			  <div class="col" ></div>
			</div>
		 		
  			</div>
  			
      </ion-item>
  </ion-content>
</ion-view>
	