<ion-side-menus  enable-menu-with-back-views="false">

  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-view animation="slide-left-right"  name="menuContent"></ion-nav-view>
  </ion-pane>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-light">
      <h1 class="title">Ангилал</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list on-drag-left="left()">
          <div class="item" menu-close  style="padding:0;margin-bottom:0">
          <a href="#/app/profile">
          <img src="img/Mobile Cover.png" style="width:100%;height:150px">
             <div class="profile-picture big-profile-picture">
            <img ng-if="user_info.person_profile_img" src=" {{backSite}}/{{user_info.person_profile_img}}">
             <img ng-if="!user_info.person_profile_img" src="img/default.png">
          </a>
          </div>
          <div style="position:absolute;bottom:20px;font-size:20px;color:white;width:100%;text-align:center">{{user_info.person_firstname + ' ' + user_info.person_lastname}}</div>
        </div>
          <ion-item menu-close href="#/app/invitation" class="item item-icon-right ink">
         Урилга    <span class="badge badge" style="background-color:#DC143C;color:white">{{urilga.length}}</span>
        </ion-item>
            <ion-item menu-close href="#/app/myticket" class="item item-icon-right  ink">
        Тасалбар   <span class="badge badge" style="background-color:#DC143C;color:white">{{tickets.length}}</span>
        </ion-item>
           <ion-item menu-close href="#/app/saved" class="item item-icon-right  ink">
      Хадгалагдсан арга хэмжээ  <span class="badge badge" style="background-color:#DC143C;color:white">{{likedEvent.length}}</span>
        </ion-item>
        <hr>
         <ion-item menu-close href="#/app/myevent" class="item item-icon-right  ink">
          <i class="icon ion-ios-arrow-forward "></i>Миний арга хэмжээ
        </ion-item>
        <ion-item menu-close href="#/app/myorg" class="item item-icon-right  ink">
          <i class="icon ion-ios-arrow-forward "></i>Миний байгууллага
        </ion-item>
      <ion-item menu-close href="#/app/profile" class="item item-icon-right  ink">
          <i class="icon ion-ios-arrow-forward "></i>Хувийн мэдээлэл
        </ion-item><hr>
          <ion-item menu-close ng-click="logout()">
          Гарах
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
<ion-content>
  Some content!
</ion-content>


