<ion-view >
<ion-nav-bar align-title="right">
<ion-nav-buttons side="left" >
<button class="button button-icon ion-chevron-left button-clear" ng-click="goBack()" style="width:100px;padding-left:0;background-color:white;color:black">
...
<!-- <i class="fa fa-chevron-left" style="font-size:22px;font-family:'m3'"> Буцах</i>   -->
</button>
</ion-nav-buttons>
<ion-nav-title style="font-family:'m3';border:1px solid;background-color:#FF5700;color:white;padding:5px;padding-left:15px;padding-right:15px;border-radius:5px;border-color:#FF5700;font-size:19px" >
Миний арга хэмжээ
</ion-nav-title>
</ion-nav-bar>
<ion-content overflow-scroll='true'  >
<ion-refresher pulling-text="Уншиж байна..." on-refresh="doRefresh()">
</ion-refresher>
<ion-item style="padding:0" ng-repeat="event in myEvents | orderBy:'createdAt' | limitTo: limit"  class="animate-rip">
  <div class="list" style="border-bottom:1px solid #f8f8f8">
    <a class="item item-thumbnail-left" id="myEvent" ui-sref="app.editevent({eventId:event.id})">
      <img ng-if="event.event_cover.length < 100" ng-cache ng-src="{{backsite}}/{{event.event_cover}}" >
      <img ng-if="event.event_cover.length > 100" ng-src="{{event.event_cover}}" >
      <h3 id="myeventTitle">{{event.event_title}} - id: {{event.event_short_id}}</h3>
      <div class="row" style="padding:0 0 5px 0">
        <div class="col col-10" style="padding:0">
          <p class="myeventText"><i class="icon ion-ios-clock-outline"></i></p>
        </div>
        <div class="col col-90" style="padding:0">
          <p class="myeventText"> {{event.event_start_date | date:'EEEE, MMMM d, y '}}</p>
        </div>
      </div>
      <div class="row" style="padding:0 0 5px 0">
        <div class="col col-10" style="padding:0">
          <p class="myeventText"><i class="icon ion-ios-location-outline"></i> </p>
        </div>
        <div class="col col-90" style="padding:0">
          <p class="myeventText"> {{event.event_location}}</p>
        </div>
      </div>
    </a>
     <a class="col" style="border-top:1px solid #f8f8f8;text-align:right">
        <span ng-click="makePublic(event)" ng-if="event.event_isActive == false" id="private"><i class="fa fa-lock"></i> Хаалттай</span>
        <span  ng-click="makePrivate(event)" ng-if="event.event_isActive == true" id="public"><i class="fa fa-unlock"></i> Нээлттэй</span>
        <span id="deleteBtn" ng-click="showConfirm(event)"><i class="fa fa-trash-o"></i> Устгах </span>
    </a>
  </div>
</ion-item>
<div class="list card" ng-if="myEvents.length == 0" style="text-align:center;padding-top:10px;padding-bottom:10px;margin-top:20px">
  Арга хэмжээ байхгүй байна.
</div>
<ion-infinite-scroll ng-if="myEvents.length > 5"
on-infinite="loadMoreData()"
distance="1%">
</ion-infinite-scroll>

</ion-content>
</ion-view>
