<ion-view view-title="{{list.event_title}}"  >

  <ion-content >
  <div class="row" >
    <div class="col col-50"  >
        <button class="button icon-left ion-chevron-left button-clear button-dark ink" style="padding-left:5%;font-weight:bold" ng-click="goBack()">Буцах</button>
    </div>
    </div>
  </div>
  <div class="list" id="org" style="margin-top:0;background-color: #f8f8f8;padding-right:15px">
  <div class="item item-text-wrap" style="padding:0;padding-left:15px">
  <label class="item item-input" style="margin:0;padding:0">
    <span class="input-label" style="width:140px;font-size:14px">   Нэр:</span>
    <input type="text" style="font-weight:bold;text-align:right" ng-model="org.organization_fullname" disabled>
  </label>
      <hr>
  <label class="item item-input" style="margin:0;padding:0">
    <span class="input-label" style="width:140px;font-size:14px">Бүртгэлийн дугаар:</span>
    <input type="text" style="font-weight:bold;text-align:right" ng-model="org.organization_register_id"  disabled>
  </label>
      <hr>
   <label class="item item-input" style="margin:0;padding:0">
    <span class="input-label" style="width:140px;font-size:14px"> И-мэйл хаяг:</span>
    <input type="text"  style="font-weight:bold;text-align:right"ng-model="org.organization_email "  disabled>
  </label>
      <hr>
   <label class="item item-input" style="margin:0;padding:0">
    <span class="input-label" style="width:140px;font-size:14px"> Вебсайт:</span>
    <input type="text" style="font-weight:bold;text-align:right" ng-model="org.organization_website"  disabled>
  </label>
      <hr>
   <label class="item item-input" style="margin:0;padding:0">
    <span class="input-label" style="width:140px;font-size:14px"> Ажлын утас:</span>
    <input type="text"  style="font-weight:bold;text-align:right" ng-model="org.organization_work_number"  disabled>
  </label>
      <hr>
  </div>
</div>
  </ion-content>
</ion-view>
