<ion-view   >
<ion-nav-bar align-title="right">
<ion-nav-buttons side="left" >
      <button class="button-clear" ng-click="goBack()" style="width:100px;padding-left:0;background-color:white;color:black">
       <i class="fa fa-chevron-left" style="font-size:22px;font-family:'m3'"> Буцах</i> 
      </button>
    </ion-nav-buttons>
     <ion-nav-title style="font-family:'Arial';border:1px solid;background-color:#FF5700;color:white;padding:5px;padding-left:15px;padding-right:15px;border-radius:5px;border-color:#FF5700;font-size:16px" >
     Дэлгэрэнгүй 
    </ion-nav-title>
</ion-nav-bar>
  <ion-content >
  <div class="list" id="org" style="margin-top:0;margin-right:10px">
  <div class="item item-text-wrap" style="padding:0;padding-left:15px">
  <label class="item item-input" style="margin:0;padding:0">
    <span class="input-label" style="width:140px;font-size:14px">   Нэр:</span>
    <input type="text" style="font-weight:bold;text-align:right" ng-model="org.organization_fullname" >
  </label>
      <hr>
  <label ng-if="org.organization_register_id" class="item item-input" style="margin:0;padding:0">
    <span class="input-label" style="width:140px;font-size:14px">Бүртгэлийн дугаар:</span>
    <input type="text" style="font-weight:bold;text-align:right" ng-model="org.organization_register_id"  >
  </label>
      <hr ng-if="org.organization_register_id">
   <label ng-if="org.organization_email" class="item item-input" style="margin:0;padding:0">
    <span class="input-label" style="width:140px;font-size:14px"> И-мэйл хаяг:</span>
    <input type="text"  style="font-weight:bold;text-align:right"ng-model="org.organization_email "  >
  </label>
      <hr ng-if="org.organization_email">
   <label ng-if="org.organization_website" class="item item-input" style="margin:0;padding:0">
    <span class="input-label" style="width:140px;font-size:14px"> Вебсайт:</span>
    <input type="text" style="font-weight:bold;text-align:right" ng-model="org.organization_website"  >
  </label>
      <hr ng-if="org.organization_website">
   <label ng-if="org.organization_work_number" class="item item-input" style="margin:0;padding:0">
    <span class="input-label" style="width:140px;font-size:14px"> Ажлын утас:</span>
    <input type="text"  style="font-weight:bold;text-align:right" ng-model="org.organization_work_number"  >
  </label>
      <hr ng-if="org.organization_work_number">
  </div>
</div>
  </ion-content>
</ion-view>
