<ion-view view-title="{{list.event_title}}"  >

  <ion-content >
  <div class="row">
    <div class="col " >
        <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="goBack()">Буцах</button>
    </div>
    <div class="col">
      <div class="row">
    <div class="item tabs" style="border:0px">
          <a class="tab-item" ng-click="shareAnywhere()">
         <i class="icon ion-android-share-alt"></i>
    </a>
    <a class="tab-item "  ng-click="unlikeEvent()" ng-if="liker_function == 1">
    <i class="icon ion-ios-heart"></i> 
    </a>
       <a class="tab-item"  ng-click="likeEvent()" ng-if="liker_function == 0">
    <i class="icon ion-ios-heart-outline"></i> 
    </a>

  </div>
      </div>
    </div>
  </div>
  <img class="full-image" style="height:100%;width:100%" ng-click="showImage()" src="http://52.69.108.195:1337/{{list.event_cover}}" >
 <div class="list" >
  <div class="item item-body">
        <h5 ng-repeat="category in list.event_type" style="font-size:15px;float:left">
                #{{category.name}}&nbsp
              </h5><br><br>
    <h2 style="font-size:20px;font-weight:bold">{{list.event_title}}</h2>
    <p>
    	{{list.event_description}}
      <a ng-click="changeLength(wine)" class="color3"><strong>More</strong></a>
    </p>
    <br>
    <div class="list">
  <div class="item item-icon-left item-stable">
    <i class="icon ion-calendar"></i>Хэзээ болох:
  </div>
  <div class="item item-text-wrap">
    {{list.event_start_date}} - {{list.event_end_date}}
  </div>
  <div class="item item-icon-left  item-stable">
   <i class="icon ion-ios-location-outline"></i> Хаана болох:
  </div>
   <div class="item item-text-wrap">
    {{list.event_location}}
  </div>
    <div class="item item-icon-left  item-stable">
    <i class="icon ion-ios-briefcase-outline"></i>Зохион байгуулагч:
  </div>
   <div class="item item-text-wrap">
    {{list.event_owner.organization_fullname}}
  </div>
      <div class="item item-icon-left  item-stable">
    <i class="icon ion-cash"></i>Тасалбарын үнэ:
  </div>
   <div class="item item-text-wrap">
    {{list.event_ticket_price}}
  </div>
        <div class="item item-icon-left  item-stable">
    <i class="icon ion-ios-book-outline"></i>Хөтөлбөр:
  </div>
   <div ng-repeat="agenda in agendas" >
      <br>
      <div class="sched-container-dates" ng-if="list.is_time_agenda" >
      <b>{{agenda.agenda_location}}</b>, "{{agenda.agenda_day|date:'MM/dd/yyyy'}}"" 
      </div>
      <div class="ng-scope"    ng-repeat="agenda_time in agenda.agenda_times | orderBy: agenda_time.time_duration">
          <h3 ng-if="list.is_time_agenda"   class="ng-binding ng-scope" id="agenda_time"> {{agenda_time.time_duration}} min</h3>
            <div class="sched-container" >
                <div class="sched-container-inner">
                    <span class="event {{agenda_time.time_class}}" >
                      <span class="ev_save">
                          &nbsp;
                      </span>
                      <a class="name ng-binding">
                           {{agenda_time.time_title}} -
                          <b class="ng-binding">
                              {{agenda_time.time_speaker}}
                          </b>
                      </a>
                      <br>
                      <a class="name ng-binding ng-scope" >
                              {{agenda_time.time_description}}
                      </a>
                    </span>
            </div>
      </div>
  </div>
</div>
  <br>

  <div class="item tabs tabs-stable tabs-icon-left" >
    <a class="tab-item"  ng-click="unlikeEvent()" ng-if="liker_function == 1">
    <i class="icon ion-ios-heart"></i> 
      Хадгалагдсан
    </a>
       <a class="tab-item"  ng-click="likeEvent()" ng-if="liker_function == 0">
    <i class="icon ion-ios-heart-outline"></i> 
      Хадгалах
    </a>
    <a class="tab-item" ng-click="shareAnywhere()">
         <i class="icon ion-android-share-alt"></i>
         Хуваалцах
    </a>
  </div>
  <br>
        <button class="button button-full button-assertive">
          Тасалбар Худалдаж авах
      </button>
</div>
  </div>
</div>
  </ion-content>
</ion-view>
