<ion-view view-title="{{list.event_title}}">
  <ion-content>
 <div class="list card">

  <div class="item item-body">
    <h2>{{list.event_title}}</h2>
    <p>{{list.createdAt}}</p>
    <img class="full-image" style="height:100%" ng-click="showImage()" src="http://52.69.108.195:1337/{{list.event_cover}}" >
    <p>
    	{{list.event_description}}
    </p>
    <br>
    <div class="list">
  <div class="item item-divider item-dark">
    Хэзээ болох?
  </div>
  <div class="item item-text-wrap">
    {{list.event_start_date}}
  </div>
  <div class="item item-divider item-dark">
    Хаана болох?
  </div>
   <div class="item item-text-wrap">
    {{list.event_location}}
  </div>

</div>
  </div>
</div>
  </ion-content>
</ion-view>
