<ion-view view-title="Хадгалагдсан арга хэмжээ">
	<ion-content>
    <ion-refresher pulling-text="Уншиж байна..." on-refresh="doRefresh()">
   </ion-refresher>
   <div class="row">
      <div class="col col-33" ><button class="button icon-left ion-chevron-left button-clear button-dark ink" style="padding-left:5%" ng-click="goBack()">Буцах</button></div>
      <div class="col col-67"><p style="font-size:16px;background-color:#a21e21;color:white;padding:5px;border-radius:5px;text-align:center;margin-top:5%">Хадгалагдсан: {{likedEvent.length}}<p></div>
   </div>
    <ion-list>
      <ion-item ng-repeat="list in likedEvent | orderBy:'createdAt':true|filter:search" href="#/app/playlists/{{list.event_info.id}}">
         <div class="list card"  style="margin:-2%;padding:0px;width:114%;height:100%">
          <img src="http://52.69.108.195:1337/{{list.event_info.event_cover}}"  style="height:100%" class="full-image">
         <div class="item item-text-wrap">
           <p id="Date">{{list.event_info.event_start_date | date:'medium'}}</p>
            <h3 id="title" >{{list.event_info.event_title}}</h3>
            <p id="address"><i class="icon ion-ios-location-outline"></i> {{list.event_info.event_location}}</p>
          </div>
      </div>
   <ion-option-button class="button-assertive" ng-click="deleteSavedEvent(list.event_info.id)">
      Delete
      </ion-option-button>
    </ion-list>
    </div>
    </ion-content>
</ion-view>
