<ion-modal-view>
<ion-header-bar style="bar bar-header bar-assertive">
<div class="buttons buttons-left">
	<span class="left-buttons" >
		<button class="button button-clear" style="color:#639BF7;font-family:'m3';font-size:18px;text-transform: capitalize;" ng-click="suggestclose()">Хаах</button>
	</span>
</div>
<h1 class="title" style="font-family:'m3';font-size:20px">Санал болгох</h1>
</ion-header-bar>
<ion-content>
<div class="list card" style="margin-top:60px">
	<div class="item item-text-wrap" style="font-family:'m3';text-align:center;font-size:20px;padding-bottom:0">
		"<b>{{list.event_title}}</b>"
		<p style="text-align:center !important;font-size:15px">Арга хэмжээг санал болгох бол талбарыг бөглөнө үү.</p>
	</div>
	<div class="item" id="suggest" style="padding-top:10px;margin-top:5px">
		<label class="item item-input" style="border:1px solid #E5E5E5">
			<input type="text" ng-model="user.info" placeholder="И-мэйл хаяг эсвэл утасны дугаар">
		</label>
		<button ng-click="suggestPerson(user)" class="button button-block" style="padding:0;background-color:#FF5700;font-family:'m3';font-size:18px;color:white;margin-top:20px">Санал болгох</button>
	</div>
</div>
</ion-content>
</ion-modal-view>