<ion-view >
	<ion-nav-bar class="bar-light" align-title="right">
			<ion-nav-buttons side="left">
			<button class="button button-icon ion-chevron-left button-clear " ng-click="goBack()" style="width:100px;padding-left:0;background-color:white;color:black" >
				...
			</button>
		</ion-nav-buttons>
		<ion-nav-title style="border:1px solid;background-color:#FF5700;color:white;padding:5px;padding-left:15px;padding-right:15px;border-radius:5px;border-color:#FF5700;font-family:'m3';font-size:20px">
		Урилга хүсэлт
		</ion-nav-title>
	</ion-nav-bar>
	<ion-content has-subheader="false">
	<form name="myForm" style="margin-top:10px">
	<div class="list" style="height:50px;background-color:#f8f8f8;margin-top:0">
		<div class="row" id="mine">
			<div class="col" style="font-family:'m3';padding-left:0;text-align:left"><p style="font-size:18px">Өөрөө</p></div>
			<div class="col" style="text-align:right;padding:0">
				<label class="toggle" >
					<input type="checkbox" ng-model="isChecked.checked" ng-change="check(ticket)" >
					<div class="track" >
						<div class="handle"></div>
					</div>
				</label>
			</div>
		</div>
	</div>
	<div class="list"   id="buyticketfrm">
		<label class="item item-input" >
			<span class="input-label"  id="buyticketLabel">Нэр:</span>
			<input type="text" ng-model="ticket.ticket_fullname" placeholder="Нэр" id="ticketinput" > 
		</label>
		<label class="item item-input" >
			<span class="input-label"   id="buyticketLabel">И-мэйл:</span>
			<input type="email" ng-model="ticket.ticket_email" placeholder="И-мэйл" id="ticketinput" > 
		</label>
		<label class="item item-input" >   
			<span class="input-label"  id="buyticketLabel">Утас:</span>
			<input type="text" ng-model="ticket.ticket_phonenumber" placeholder="Утас" id="ticketinput" >
		</label> 
	</div>
	<div class="list" id="selectTicket">
		<select  ng-model="ticket.event_ticket_type" id="select" required>
			<option ng-if="event_ticket.urilga.length == 0" value="">Урилга байхгүй байна</option>
			<option ng-if="event_ticket.urilga.length != 0" value="" >Урилганы төрөлөө сонгоно уу</option>
		<!-- 	<option  value="{{free_ticket | json}}"  ng-repeat="free_ticket in event_ticket.free" >Yнэгүй-{{free_ticket.description}} ({{free_ticket.remaining}})</option>
			<option  value="{{paid_ticket | json}}" ng-repeat="paid_ticket in event_ticket.paid"><p>Төлбөртэй-{{paid_ticket.description}} ({{paid_ticket.price}}₮)</p></option> -->
			<option  value="{{urilga_ticket | json}}" ng-repeat="urilga_ticket in event_ticket.urilga"><p>Урилга-{{urilga_ticket.description}} ({{urilga_ticket.price}}₮)</p></option>
		</select>
	</div>
	<div class="list" style="width:330px;margin-bottom:0px;margin-left:auto;margin-right:auto;padding-left:auto;padding-right:auto">
		<span style="background-color:#FF5700;color:white;padding:5px;padding-left:15px;padding-right:15px;border-radius:5px;font-weight:bold;font-size:20px;margin-left:100px" ng-click="sub()"><</span>
		<span style="font-size:22px;margin:10px"> {{ticket_counter}} </span>
		<span style="background-color:#FF5700;border-radius:5px;color:white;padding:5px;padding-left:15px;padding-right:15px;font-weight:bold;font-size:20px;margin-right:a" ng-click="add()">></span> 
	</div>
	<div class="list" style="font-family:'m3';font-size:20px;text-align:center;margin-top:0;margin-bottom:0">
		<span >ширхэг</span>
	</div>
	<div class="item" style="border:none;padding-top:0">
		<button ng-disabled="myForm.$invalid" type="submit" ng-click="ticketrequest(ticket)" class="button button-full disabledBtn" style="font-family:'m3';font-size:17px;background-color:#FF5700;color:white">
			Хүсэлт гаргах
		</button>
	</div>
</form>
	</ion-content>
</ion-view>