<ion-view view-title="Хэрэглэгчийн мэдээлэл">
    <ion-content>
    <div class="row">
        <div class="col col-33"><button class="button icon-left ion-chevron-left button-clear button-dark ink" style="padding-left:5%" ng-click="goBack()">Буцах</button></div>
        <div class="col col-67"><p style="font-size:16px;background-color:#a21e21;color:white;padding:5px;border-radius:5px;margin-top:4%;text-align:center">Тасалбар</p></div>
    </div>
     <img src="img/ticket.png" class="full-image" style="height:100%">
    </ion-content>
</ion-view>