 


 <div class="modal image-modal transparent" ng-click="closeModal()" >
 <ion-slide-box pager-click="slideChanged(index)" show-pager="false">
<ion-slide ng-repeat="ticket in tickets">
<div class="list card" style="border:5px inset #8383e6" id="urilgaDetail">
	 <ion-scroll zooming="true" direction="xy">
  <div class="item item-avatar">
    <img src="http://52.69.108.195:1337/{{ticket.ticket_event.event_profile}}">
    <h2>{{ticket.ticket_event.event_title}}</h2>
    <p>Эхлэх өдөр: {{ticket.ticket_event.event_start_date}}</p>
    <h2 style="color:red">Танд {{ticket.ticket_countof}} урилга байна.</h2>
  </div>

  <div class="item item-body">
  	<img src="img/logo.png" style="position:absolute;right:5%;top:5%">
    <img class="full-image" style="height:100%" src="http://52.69.108.195:1337/{{ticket.ticket_event.event_cover}}">
    <p>
     	{{ticket.ticket_event.event_description}}
    </p>
  </div>
  <div class="item item-light">
    <h2>Хаана болох:</h2>	   
    <h3 class="item">{{ticket.ticket_event.event_location}}</h3>
    <h2>Үнэ:</h2>
     <h2 class="item" ng-if="ticket.ticket_event.event_ticket_type == 'Paid'" ng-repeat="ticketPrice in ticket.ticket_event.event_ticket.paid">{{ticketPrice.price}}</h2>
	 <h3 class="item"  ng-if="ticket.ticket_event.event_ticket_type == 'Free' ">Үнэгүй</h3>
   </div>
    </ion-scroll>
</ion-slide>

</ion-slide-box>
      </div>
