<ion-view >
 <ion-nav-bar align-title="right" class="bar custom-color">
     <ion-nav-buttons side="left" >
      <button class="button-clear  " ng-click="goBack()" style="width:100px;padding-left:0;background-color:white;color:black">
     <i class="fa fa-chevron-left" style="font-size:22px;font-family:'m3'"> Буцах</i>
      </button>
    </ion-nav-buttons>
      <ion-nav-title style="border:1px solid;background-color:#FF5700;color:white;padding:5px;padding-left:15px;padding-right:15px;border-radius:5px;border-color:#FF5700;font-size:16px">
      Нууц үг мартсан
    </ion-nav-title>
    </ion-nav-bar>
  <ion-content>
  <ion-item>
  <div class="item item-body" style="border:0px">
  		<h3 style="font-size:18px">Нууц үг мартсан уу?</h3>
      	<p>Доорх талбарт өөрийн бүртгүүлсэн и-мэйл хаяг эсвэл утасны дугаараа оруулан шинэ нууц үг авах боломжтой.</p>
  	</div>
      <div class="list">
        <form name="myForm" id="forgot">
          <label class="item item-input item-floating-label" >
              <span class="input-label">И-мэйл эсвэл утасны дугаар:</span>
              <input type="text" name="text" placeholder="И-мэйл эсвэл утасны дугаар" ng-model="reg.change">
          </label>
          <button style="background-color:#FF5700;color:white;border-radius:5px;padding-top:10px;padding-bottom:10px;width:100%;margin-top:10px;border:1px solid #FF5700" ng-click="changePassword(reg)" >Шинэ нууц үг авах</button>
            </form>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
