<ion-view view-title="Нууц үг мартсан">
 
  <ion-content>
  <ion-item>
  <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="goBack()">Буцах</button>
  <div class="item item-body" style="border:0px;margin-top:10%">
  		<h2>Нууц үг мартсан?</h2>
      	<p>Бүртгүүлсэн э-мэйл хаягруу шинэ нууц үг сэргээх зааврыг илгээх болно</p>
      	<br>
  	</div>
      <div class="list">

        <form name="myForm">
          <label class="item item-input item-floating-label" >
              <span class="input-label">И-мэйл:</span>
              <input type="text" nanme="email" placeholder="И-мэйл" ng-model="reg.email">
          </label>
          <br>
            <button class="button button-full button-dark" ng-click="#" type="submit" id="lgnbtn">
                    Илгээх
            </button>
            </form>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
