<ion-view view-title="Нууц үг мартсан">
  <ion-content>
  <ion-item>
  <div class="item item-body" style="border:0px">
  		<h2>Нууц үг мартсан?</h2>
      	<p>Бүртгүүлсэн э-мэйл хаягруу шинэ нууц үг сэргээх зааврыг илгээх болно</p>
      	<br>
  	</div>
      <div class="list">

        <form name="myForm">
          <label class="item item-input item-floating-label" id="lgnbtn">
              <span class="input-label">Э-мэйл:</span>
              <input type="text" nanme="email" placeholder="Э-мэйл" ng-model="reg.email">
          </label>
          <br>
            <button class="button button-full button-dark" ng-click="#" type="submit" id="lgnbtn">
                    Илгээх
            </button>
            </form>
      </div>
    </ion-item>
  </ion-content>
</ion-view>
