<ion-view cache-view="false">
<ion-content >
<ion-item  >
<br>
<div class="row" >
  <div class="col"></div>
  <div class="col col-50" style="text-align:center"><img src="img/logo2.png" style="width:80px;height:80px">
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div style="width:100%;text-align:center;font-weight:bold"><p style="font-size:16px">ХААНА ЮУ БОЛЖ БАЙНА...</p></div>
</div>
<br>
<p id="demo"></p>
<form role="form" id="login">
 <div class="list">
   <label class="item item-input " id="lgnname">
     <input type="text" ng-model="emails"  placeholder="И-мэйл хаяг эсвэл утасны дугаар" required>
   </label>
   <label class="item item-input ">
    <input type="password" ng-model="pass" name="password" placeholder="Нууц үг" required>
  </label>
  <br>
  <button ng-click="login({email:emails,pass:pass})" style="background-color:#FF5700;color:white;border-radius:5px;width:100%;padding-top:10px;padding-bottom:10px;border:1px solid #FF5700" type="submit"  >
   Нэвтрэх
 </button>
</div>	
</form>
<h2 style="margin-top:5px;margin-bottom:5px"><span  class="line-center" style="color:gray">эсвэл</span></h2>
<button  ng-click="facebookLogin()" style="background-color:#3b5998;color:white;border-radius:5px;width:100%;padding-bottom:10px;padding-top:10px;border:1px solid #3b5998" > 
  <i class="icon ion-social-facebook"></i>&nbsp Login with Facebook</button>
  <h2 style="margin-top:5px;margin-bottom:5px"><span  class="line-center" style="color:gray">эсвэл</span></h2>
<button class="lgBtn" ui-sref="guest.home" style="color:white;background-color:#21D268;border-color:#21D268" > 
   Зочноор нэвтрэх</button>
  <h2 style="margin-top:5px;margin-bottom:5px"><span style="color:gray;font-size:14px" class="line-center" ></span> </h2>
  <div class="row" style="padding:0">
    <div class="col" style="padding:0;padding-right:5px">
      <button ui-sref="register" class="lgBtn" style="color:#FF5700;border-color:#FF5700">Бүртгүүлэх</button>
    </div>
    <div class="col" style="padding:0;padding-left:5px">
      <button ui-sref="forgotpassword" class="lgBtn">Нууц үг марсан?</button>
    </div>
  </div>
</ion-item>
</ion-content>
</ion-view>
