<ion-view >
  <ion-content >
    <ion-item  >
     		<br>
     		 		<br>
    		<div class="row">
    				<div class="col"></div>
    				<div class="col col-50" style="text-align:center"><img src="img/logo.png" style="width:50%;height:50%"></div>
					<div class="col"></div>
    		</div>
    		  <div class="row">
    				<div class="col"></div>
    				<div class="col col-50" style="text-align:center">Urilga.mn</div>
					<div class="col"></div>
    		</div>
    		<br>
    		 		<br>
    			<form role="form">
  					<div class="list">
			  				<label class="item item-input item-floating-label" id="lgnname">
			 			   			<span class="input-label" >И-мэйл хаяг:</span>
			 			   				<input type="email"  name="email" ng-model="emails"  placeholder="И-мэйл хаяг" required>
			  			   </label>
			 				 <label class="item item-input item-floating-label">
			    			
			    					<span class="input-label">Нууц үг:</span>
			    					<input type="password" ng-model="pass" name="password" placeholder="Нууц үг" required>
			  				</label>

        <ion-checkbox ng-model="email.checked"
                      ng-change="emailSave(email)"
                      ng-init="emailSave(email)"
                      >
          И-мэйл сануулах 
        </ion-checkbox>
			  				<button class="button button-full button-assertive" ng-click="login({email:emails,pass:pass})" type="submit" >
			  						Нэвтрэх
						   </button>
					</div>	
					</form>

		   <div class="row">
		   		<div class="col" style="text-align:right"><a href="#/forgotpassword" style="text-decoration:none"><p style="text-align:left">Нууц үг мартсан?</p></a></div>
		   		<div class="col"><a href="#/register" style="text-decoration:none"><p style="text-align:right">Бүртгүүлэх?</p></a></div>
		   </div>
  			<div class="row" >
		    		  <div class="col" ></div>
  			<div class="col col-50"> 
  						<label >
  							<span><p  style="text-align:center">Нэвтрэх</p></span>
  						</label>	
			</div>	
			  <div class="col" ></div>
			</div>
		 		
  			</div>
  				<div class="row" >
		    		  <div class="col" ></div>
  			<div class="col col-50" style="text-align:center"> 
  									<div><button id="lgnbtn" ng-click="fbLogin()" class="button button-block button-positive"> 
  										<i class="icon ion-social-facebook"></i>&nbsp Facebook</button></div>
  									<div><button id="lgnbtn" ng-click="reload()" class="button button-block button-assertive"><i class="icon ion-social-googleplus"></i>&nbsp Google+</button></div>
			</div>	
			  <div class="col" ></div>
			</div>
		 		
  			</div>
  		
      </ion-item>
  </ion-content>
</ion-view>
	