<ion-view view-title="Хэрэглэгчийн мэдээлэл">
    <ion-content>
    <div class="row">
        <div class="col col-33"><button class="button icon-left ion-chevron-left button-clear button-dark ink" style="padding-left:5%" ng-click="goBack()">Буцах</button></div>
        <div class="col col-67"><p style="font-size:16px;background-color:#a21e21;color:white;padding:5px;border-radius:5px;margin-top:5%;text-align:center">Хэрэглэгчийн мэдээлэл</p></div>
    </div>
        <div class="list">
            <div class="profile-container">
                <!--<div id="em-profile" class="item">-->
                    <!-- <img src="img/ionic.png"> -->
                    <div ng-if="user.profilePic" class="profile-pic" ng-style="{'background-image': 'url(' + user.profilePic + ')'}"></div>
                    <div ng-if="!user.profilePic" class="profile-pic" style="background-image: url(img/profile-pic-default.png)"></div>
                <!--</div>-->
                <div id="myDiv">
                    <div id="color">
                        <div id="effect"></div>
                    </div>
                </div>
                <div class="profile-background" ng-style="{'background-image': 'url(' + user.profilePic + ')'}"></div>
            </div>
            <div class="list">
           
                <label class="item item-input field-disabled">
                    <span class="input-label">И-мэйл:</span>
                    <input ng-model="userdata.user.email" type="text" placeholder="И-мэйл хаяг">
                </label>
                <label class="item item-input">
                    <span class="input-label">Хэрэглэгчийн нэр:</span>
                    <input ng-model="userdata.user.fullname" type="text" placeholder="Хэрэглэгчийн нэр">
                </label>
                 <label class="item item-input">
                    <span class="input-label">Утасны дугаар:</span>
                    <input ng-model="userdata.user.person.person_cell_number" type="text" placeholder="Утасны дугаар">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>