<ion-view view-title="Хэрэглэгчийн мэдээлэл">
    <ion-content>
    <div class="row">
        <div class="col "><button class="button icon-left ion-chevron-left button-clear button-dark ink" style="padding-left:5%;font-weight:bold" ng-click="goBack()">Буцах</button></div>
        <div class="col "><p style="font-size:16px;background-color:#FF5700;color:white;padding:5px;border-radius:5px;margin-top:5%;text-align:center">Хувийн мэдээлэл</p></div>
    </div>
        <div class="list">
            <div class="profile-container">
                <!--<div id="em-profile" class="item">-->
                    <!-- <img src="img/ionic.png"> -->
                    <div ng-if="user.profilePic" class="profile-pic" ng-style="{'background-image': 'url(' + user.profilePic + ')'}"></div>
                    <div ng-if="!user.profilePic" class="profile-pic" style="background-image: url(img/profile-pic-default.png)"></div>
                <!--</div>-->
                <div id="myDiv">
                    <div id="color">
                        <div id="effect"></div>
                    </div>
                </div>
                <div class="profile-background" ng-style="{'background-image': 'url(' + user.profilePic + ')'}"></div>
            </div>
   <div class="list" style="margin-top:0;background-color: #f8f8f8;padding-right:15px">

        <div class="item item-text-wrap" id="profile" style="padding:0;padding-left:15px">
                <label class="item item-input field-disabled">
                    <span class="input-label">И-мэйл:</span>
                     <input type="text" style="font-weight:bold;text-align:right" ng-model="user.person_email"  disabled>
                </label>
                    <hr>
                       <label class="item item-input">
                    <span class="input-label">Овог:</span>
                     <input type="text"  style="font-weight:bold;text-align:right" ng-model="user.person_firstname" >
                </label>
                <hr>
                <label class="item item-input">
                    <span class="input-label">Нэр:</span>
                     <input type="text" style="font-weight:bold;text-align:right" ng-model="user.person_lastname" >
                </label>
                    <hr>
                 <label class="item item-input">
                    <span class="input-label">Утасны дугаар:</span>
                     <input type="text" style="font-weight:bold;text-align:right" ng-model="user.person_cell_number" >
                </label>
                <hr>
                   <button ng-disabled="checkLength(user)" class="button button-full" style="background-color:#FF5700;color:white" ng-click="Update(user)">
                       Засварлах
                     </button>
            </div>
            </div>
        </div>
    </ion-content>
</ion-view>