<ion-view >
<ion-nav-bar align-title="right" class="bar custom-color">
     <ion-nav-buttons side="left" >
      <button class="button-clear  " ng-click="goBack()" style="width:100px;padding-left:0;background-color:white;color:black">
        <i class="icon ion-chevron-left" style="font-size:20px"> Буцах</i> 
      </button>
    </ion-nav-buttons>
      <ion-nav-title style="border:1px solid;background-color:#FF5700;color:white;padding:5px;padding-left:15px;padding-right:15px;border-radius:5px;border-color:#FF5700;font-size:16px">
       Бүртгүүлэх
    </ion-nav-title>
    </ion-nav-bar>
  <ion-content>
  <ion-item>
      <div class="row">
          <div class="col"></div>
          <div class="col col-50" ng-click="show($event)" style="text-align:center;border:100%" >
                    <img ng-src="{{pictureURL}}" style="width:100px;height:100px;border-radius:50%">
          </div>
          <div class="col"></div>
      </div>
      <div class="list">
        <form name="myForm" id="register">
          <label class="item item-input item-floating-label">
              <span class="input-label">Хэрэглэгчийн нэр:</span>
              <input type="text" name="lastname" placeholder="Хэрэглэгчийн нэр" ng-model="reg.uname" required>
             </span>
          </label>
              <label class="item item-input item-floating-label" >
            <span class="input-label">Утасны дугаар:</span>
              <input type="text" placeholder="Утасны дугаар" ng-model="reg.phone">
          </label>
            <label class="item item-input item-floating-label">
              <span class="input-label">И-мэйл:</span>
              <input type="email" name="email" placeholder="И-мэйл" ng-model="reg.email" required>
          </label>
          <label class="item item-input item-floating-label">
              <span class="input-label">Нууц үг:</span>
              <input type="password" placeholder="Нууц үг" name="password" ng-minlength="6" ng-model="reg.pass">
          </label>
           <span class="error" style="padding:0 0 10px 16px;font-size:14px;color:red;margin-bottom:10px"  ng-show="myForm.password.$error.minlength">
             * Хэт богино байна.
          </span>
          <br>
          <br>
            <button  ng-disabled="myForm.$invalid" style="background-color:#FF5700;color:white;border-radius:5px;width:100%;padding-top:10px;padding-bottom:10px;border:1px solid #FF5700" ng-click="Register(reg)" type="submit" >
                    Бүртгүүлэх
            </button>
            </form>
      </div>

    </ion-item>
  </ion-content>
</ion-view>
