  <ion-view >
      <ion-nav-bar >
        <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-clear button-icon icon ion-navicon" style="color:black"></button>
      </ion-nav-buttons>
      <ion-nav-title>
      <h1 class="title" ng-click="scrollTop()" id="head">ХААНА ЮУ БОЛЖ БАЙНА ...</h1>
    </ion-nav-title>
    <ion-nav-buttons side="right" >
    <button ui-sref="guest.search" class="button button-clear" style="color:black;margin:0;font-weight:bold" >
      <i class="icon ion-ios-search-strong" ></i>
    </button>
    </ion-nav-buttons>
    </ion-nav-bar>
<ion-content overflow-scroll='true' class="has-header">
<ion-slide-box on-slide-changed="slideChanged($index)"  auto-play="true" does-continue="true" show-pager="false" id="slider">
<ion-slide>
<div><img  src="img/slider/01.png" height="300" width="400"></div>
</ion-slide>
<ion-slide>
<div><img   src="img/slider/02.png" height="300" width="400"></div>
</ion-slide>
<ion-slide>
<div><img src="img/slider/03.png" height="300" width="400"></div>
</ion-slide>
<ion-slide>
<div><img src="img/slider/04.png" height="300" width="400"></div>
</ion-slide>
<ion-slide>
<div><img  src="img/slider/05.png" height="300" width="400"></div>
</ion-slide>
</ion-slide-box>
<div class="item" style="border:none;padding-bottom:0;font-weight:bold;font-size:19px;padding-left:5px;color::#283A44;font-family:'Arial' ">
  Ангилал
</div>
<div class="list" >
 <div class="row" style="padding:0">
   <div class="col col-50" style="padding-right:0.5"><a href="#/guest/guestcategory/5594e7aeef8ed1a30b4e65b8"><p class="item item-dark " id="Category" style="background:url('img/category/music.jpg');background-size: cover" >Дуу хөгжим</p></a></div>
   <div class="col col-50"  style="padding-left:0"><a href="#/guest/guestcategory/5594e7baef8ed1a30b4e65b9"><p class="item item-dark " id="Category" style="background:url('img/category/food.jpg') ;background-size: cover">Хоол хүнс</p></a></div>
 </div>
 <div class="row" style="padding:0">
  <div class="col col-50"  style="padding-right:0.5"><a href="#/guest/guestcategory/5594e7c1ef8ed1a30b4e65ba"><p class="item  item-dark " id="Category" style="color:#334653;background:url('img/category/classes.jpg');background-size: cover">Сургалт</p></a></div>
  <div class="col col-50"  style="padding-left:0"><a href="#/guest/guestcategory/5594e7ceef8ed1a30b4e65bb"><p class="item item-dark " id="Category" style="background:url('img/category/art.jpg');background-size: cover">Урлаг, урлал</p></a></div>

</div>
<div class="row" style="padding:0">
  <div class="col col-50"  style="padding-right:0.5"><a href="#/guest/guestcategory/5594e7daef8ed1a30b4e65bc"><p class="item  item-dark " id="Category" style="background:url('img/category/party.jpg');background-size: cover">Үдэшлэг</p></a></div>
  <div class="col col-50"  style="padding-left:0"><a href="#/guest/guestcategory/5594e7e5ef8ed1a30b4e65bd"><p class="item  item-dark" id="Category" style="color:#334653;background:url('img/category/sport.jpg');background-size: cover">Спорт</p></a></div>

</div>
<div class="row" style="padding:0">
  <div class="col"  style="padding-left:0.5;padding-right:0.5"><a href="#/guest/guestcategory/5594e7ecef8ed1a30b4e65be"><p class="item item-icon-left item-dark " id="Category" style="background:url('img/category/networking.jpg');background-size: cover">Хурал зөвлөгөөн</p></a></div>
</div>

<div style="height:40px"> 
  <ti-segmented-control id="segment" on-select="buttonClicked($index)" style="width:100%;padding:5px 5px 5px 5px">
  <ti-segmented-control-button class="button-assertive" title="'Өнөөдөр'" selected></ti-segmented-control-button>
  <ti-segmented-control-button class="button-assertive" title="'Маргааш'" ></ti-segmented-control-button>
  <ti-segmented-control-button class="button-assertive" title="'Топ'" ></ti-segmented-control-button>
</ti-segmented-control>
</div>
<div ng-if="checkConn == false"  style="text-align:center;padding-top:20px;padding-bottom:20px;border:none">
  <button ng-click="doRefresh()" class="button button-fab icon ion-ios-refresh-empty" id="noConn">
  </button>
</div>
<div class="animate-switch-container"
ng-switch on="index" ng-if="checkConn == true" on-swipe-right="goBack(index)" on-swipe-left="goForward(index)">
<div class="animate-switch" ng-switch-default>
 <div id="processSpinner" >
   <ion-process-spinner style="width:100%;text-align: center" processing="todayprocessing" spinner="bubbles" css-class="spinner-balanced">
   <div class="list card" ng-repeat="list in today_event " href="" >
     <img ng-click="goDetail(list)" ng-cache  ng-src="{{backsite}}/{{list.event_cover}}" ng-if="list.event_cover.length < 100"  id="homeImg" class="full-image">
     <img  ng-click="goDetail(list)" ng-src="{{list.event_cover}}"  ng-if="list.event_cover.length > 100" id="homeImg" class="full-image">
     <div class="item tem-text-wrap" ng-click="goDetail(list)">
       <h3 style="font-size:18px;font-family: 'm3';font-weight:bold">{{list.event_title}}</h3>
       <div class="row" style="padding:0 0 5px 0">
        <div class="col col-10" style="padding:0">
         <p id="desc"><i class="icon ion-ios-time-outline" id="icon"></i></p> 
       </div>
       <div class="col col-90" ng-if="list.event_start_time" style="padding:0">
        <p id="desc">Өнөөдөр {{list.event_start_time | date:'HH:mm' }} цагт, {{list.event_start_date | date: 'EEEE, MMMM d, y'}}</p>
      </div>
      <div class="col col-90" ng-if="!list.event_start_time" style="padding:0">
        <p id="desc">Өнөөдөр 09:00 цагт</p>
      </div>
    </div> 
    <div class="row" style="padding:0 0 5px 0;margin-bottom:17px">
      <div class="col col-10" style="padding:0">
       <p id="desc"><i class="icon ion-ios-location-outline" id="icon"></i></p> 
     </div>
     <div class="col col-90" style="padding:0">
      <p id="desc">{{list.event_location}}</p>
    </div>
  </div> 
  <div id="Free" ng-if="list.event_ticket_type == 'Free'">
   <p style="color:white">Үнэгүй</p>
 </div>
 <div id="Paid" ng-if="list.event_ticket_type != 'Free'">
   <p style="color:white">Төлбөртэй</p>
 </div>   
</div>
<div class="item item-divider" >
  <div class="row" style="padding:0">
    <div class="col col-60" style="padding:0">
      <h5 ng-repeat="category in list.event_type"  style="font-size:16px;font-family:'m3';float:left;padding-bottom:5px;padding-top:5px;text-transform:lowercase">
        <a href="#/guest/guestcategory/{{category.id}}"> #{{category.name | translate}} &nbsp</a>
      </h5>
    </div>
  </div>
  <div class="row" style="padding:0" id="homeBtns" ng>
    <div class="col"  style="padding:0;font-size:18px" ng-click="suggest(list)">
     <span id="suggest"><i class="fa fa-paper-plane-o"></i></span>
   </div>
   <div class="col" style="padding:0">
     <span  ng-click="checkLike()"><i class="fa fa-bookmark-o"></i></span>
   </div>
 </div>
</div>
</div>
<div class="card" ng-if="events.today_event.length == 0">
 <div class="item item-text-wrap" style="font-family: 'm3';text-align:center;font-size:18px">
  Мэдээлэл ороогүй байна.
</div>
</div>
</ion-process-spinner>
</div>
</div>
<div class="animate-switch" ng-switch-when="1">
  <div id="processSpinner" >
   <ion-process-spinner style="width:100%;text-align: center" processing="tomorrowprocessing" spinner="bubbles" css-class="spinner-balanced">
   <div class="list card" ng-repeat="list in tomorrow_event" href=""  >
    <img ng-click="goDetail(list)" ng-cache  ng-src="{{backsite}}/{{list.event_cover}}" ng-if="list.event_cover.length < 100"  id="homeImg" class="full-image">
    <img  ng-click="goDetail(list)" ng-src="{{list.event_cover}}"  ng-if="list.event_cover.length > 100" id="homeImg" class="full-image">
    <div class="item tem-text-wrap" ng-click="goDetail(list)">
      <h3 style="font-size:18px;font-family: 'm3';font-weight:bold" >{{list.event_title}}</h3>
      <div class="row" style="padding:0 0 5px 0">
        <div class="col col-10" style="padding:0">
         <p id="desc"><i class="icon ion-ios-time-outline" id="icon"></i></p> 
       </div>
       <div class="col col-90" ng-if="list.event_start_time" style="padding:0" >
        <p id="desc">Маргааш {{list.event_start_time | date:'HH:mm' }} цагт, {{list.event_start_date | date: 'EEEE, MMMM d, y'}}</p>
      </div>
      <div class="col col-90"  ng-if="!list.event_start_time" style="padding:0" >
        <p id="desc">Маргааш 09:00 цагт</p>
      </div>
    </div> 
    <div class="row" style="padding:0 0 5px 0;margin-bottom:17px">
      <div class="col col-10"  style="padding:0">
       <p id="desc"><i class="icon ion-ios-location-outline" id="icon"></i></p> 
     </div>
     <div class="col col-90" style="padding:0" >
      <p id="desc">{{list.event_location}}</p>
    </div>
  </div>  
  <div id="Free" ng-if="list.event_ticket_type == 'Free'">
   <p style="color:white">Үнэгүй</p>
 </div>
 <div id="Paid" ng-if="list.event_ticket_type != 'Free'">
   <p style="color:white">Төлбөртэй</p>
 </div>  
</div>
<div class="item item-divider">
  <div class="row" style="padding:0">
    <div class="col col-60" style="padding:0">
      <h5 ng-repeat="category in list.event_type"  style="font-size:16px;font-family:'m3';float:left;padding-bottom:5px;padding-top:5px;text-transform:lowercase">
        <a href="#/guest/guestcategory/{{category.id}}"> #{{category.name | translate}} &nbsp</a>
      </h5>
    </div>
  </div>
  <div class="row" style="padding:0" id="homeBtns" ng>
    <div class="col"  style="padding:0;font-size:18px" ng-click="suggest(list)">
     <span id="suggest"><i class="fa fa-paper-plane-o"></i></span>
   </div>
   <div class="col" style="padding:0">
     <span  ng-click="checkLike()"><i class="fa fa-bookmark-o"></i></span>
   </div>
 </div>
</div>
</div>
<div class="card" ng-if="events.tomorrow_event.length == 0">
 <div class="item item-text-wrap" style="font-family: 'm3';text-align:center;font-size:18px">
  Мэдээлэл ороогүй байна.
</div>
</div>
</ion-process-spinner>
</div>
</div>
<div class="animate-switch" ng-switch-when="2">
  <div id="processSpinner" >
   <ion-process-spinner style="width:100%;text-align: center" processing="topprocessing" spinner="bubbles" css-class="spinner-balanced">
   <div class="list card" ng-repeat="list in lists" href=""  >
     <img ng-click="goDetail(list)" ng-cache  ng-src="{{backsite}}/{{list.event_cover}}" ng-if="list.event_cover.length < 100"  id="homeImg" class="full-image">
     <img  ng-click="goDetail(list)" ng-src="{{list.event_cover}}"  ng-if="list.event_cover.length > 100" id="homeImg" class="full-image">
     <div class="item tem-text-wrap" ng-click="goDetail(list)">
       <h3 style="font-size:18px;font-family: 'm3';font-weight:bold" >{{list.event_title}}</h3>
       <div class="row" style="padding:0 0 5px 0">
        <div class="col col-10" style="padding:0">
         <p id="desc"><i class="icon ion-ios-time-outline" id="icon"></i></p> 
       </div>
       <div class="col col-90" style="padding:0">
        <p id="desc">{{list.event_start_date | date:'EEEE, MMMM d, y ' }}</p>
      </div>
    </div> 
    <div class="row" style="padding:0 0 5px 0;margin-bottom:17px">
      <div class="col col-10" style="padding:0">
       <p id="desc"><i class="icon ion-ios-location-outline" id="icon"></i></p> 
     </div>
     <div class="col col-90" style="padding:0">
      <p id="desc">{{list.event_location}}</p>
    </div>
  </div>
  <div id="Free" ng-if="list.event_ticket_type == 'Free'">
   <p style="color:white">Үнэгүй</p>
 </div>
 <div id="Paid" ng-if="list.event_ticket_type != 'Free'">
   <p style="color:white">Төлбөртэй</p>
 </div>              
</div>
<div class="item item-divider">
  <div class="row" style="padding:0">
    <div class="col col-60" style="padding:0">
      <h5 ng-repeat="category in list.event_type" style="font-size:16px;font-family:'m3';float:left;padding-bottom:5px;padding-top:5px;text-transform:lowercase">
        <a href="#/guest/guestcategory/{{category.id}}">#{{category.name | translate}} &nbsp</a> 
      </h5>
    </div>
  </div>
  <div class="row" style="padding:0" id="homeBtns" ng>
    <div class="col"  style="padding:0;font-size:18px" ng-click="suggest(list)">
     <span id="suggest"><i class="fa fa-paper-plane-o"></i></span>
   </div>
   <div class="col" style="padding:0">
     <span  ng-click="checkLike()"><i class="fa fa-bookmark-o"></i></span>
   </div>
 </div>
</div>
</div>
<div class="card" ng-if="lists.length == 0">
 <div class="item item-text-wrap" style="font-family: 'm3';text-align:center;font-size:18px">
  Мэдээлэл ороогүй байна.
</div>
</div>
<ion-infinite-scroll 
on-infinite="loadMore()"
distance="1%">
</ion-infinite-scroll>
</ion-process-spinner>
</div>
</div>
</div>   
</ion-content>
</ion-view>