/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'fontawesome';
    src:url('../fonts/fontawesome-webfont.eot');
    src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.fa-bookmark-o:before {
    font-family: "fontawesome";
    content: "\f097";
}
.fa-bookmark:before {
    font-family: "fontawesome";
    content: "\f02e";
}
.fa-trash-o:before {
    font-family: "fontawesome";
    content: "\f014";
}
.fa-thumbs-o-up:before {
    font-family: "fontawesome";
    content: "\f087";
}
.fa-line-chart:before {
    font-family: "fontawesome";
    content: "\f201";
}
.fa-user-plus:before {
    font-family: "fontawesome";
    content: "\f234";
}
.fa-eye:before {
    font-family: "fontawesome";
    content: "\f06e";
}
.fa-question:before {
    font-family: "fontawesome";
    content: "\f128";
}
.fa-building-o:before {
    font-family: "fontawesome";
    content: "\f0f7";
}
.fa-check-square-o:before {
    font-family: "fontawesome";
    content: "\f046";
}
.fa-check-square:before {
    font-family: "fontawesome";
    content: "\f14a";
}
.fa-bars:before {
    font-family: "fontawesome";
    content: "\f0c9";
}
.fa-ticket:before {
    font-family: "fontawesome";
    content: "\f145";
}
.fa-search:before {
    font-family: "fontawesome";
    content: "\f002";
}
.content:  {
	color: orange;
}
.login {
	height: 400px;
	background-color:orange;
}
.image{
	border: 1px solid;

}

.profile-picture {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: 75px;
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  top: 10%;
  left: 5%;
}
.profile-picture img {
  width: 80px;
  height:80px;
  border-radius: 100%;
}
img {
	width: 50px;
	height: 50px;
}
#lgnbtn{
	border-radius: 20px;
}
#lgnname {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#lgnpass {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}
.carddemoBasicUsage md-card {
  min-height: 150px; }

.md-card-image {
	height: 500px;
}
#Date {
	    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    color: rgba(0,0,0,.8);
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 0 0;
}
#title {
	    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    color: rgba(0,0,0,.8);
    font-size: 17px;
    line-height: 18px;
    height: 34px;
    max-height: 36px;
    font-weight: 700;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}
#address {
 text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(0,0,0,.45);
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
    display: block;
    font-weight: 400;
    letter-spacing: .5px;
}
.Category {
	color:white;
	font-size: 20px;
}
#Category {
    text-align: center;
    margin: 0;
    padding: 40px;
    font-size: 16px;
    font-weight: bold;
    border:0px;
}
.transparent {
  background: transparent !important;
}
.image-modal {
    width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
#fullscreen-image {
   max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.slider-pager {
  position: absolute;
  bottom: 50px;
}
.slider-pager-page.active
{
color:#FF5700;
}
.slider-slide {
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
#urilgaDetail {
  margin-top: 5%;
}
/* Fix modal backdrop for smaller devices */

.sched-container .circle {
  position: absolute;
  left: 89px;
  width: 24px;
  height: 24px;
  border: 2px solid #FF5700;
  background-color: white;
}


#sched-content-inner .opening .speaker_profile , 
#sched-content-inner .lunch .speaker_profile,
#sched-content-inner .review .speaker_profile,
#sched-content-inner .qa .speaker_profile{
  display: none;
}
#sched-content-inner {
  padding-bottom: 15px;
}
.event {
  box-shadow: initial;
  width: 100%;
  max-width: 100%;
}

.sched-container {
  overflow: hidden;
  border-left: 2px solid #FF5700;
  padding-bottom: 20px;
}

.agenda_list div:last-child .sched-container {
  padding-bottom: 0;
}

.sched-container-inner {
  padding-top: 0;
}

.event .name {
    color: #999;
    display: block;
    margin-left: 20px;
    margin-top: 0;
    float: initial;
}
.speaker_image {
  padding:0;
  min-height: 50px;
  width: 80px;
  margin-left: 20px;
  float: left;
}
h5.speaker_name {
    font-weight: bolder;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 105px;
    margin-bottom: 10px;
}
.speaker_image img {
    width: 100%;
    height: 100%;
    max-height: 80px;
    background-color: #ccc;
}
.img-circle {
    border-radius: 50%;
}

h5.speaker_name {
  font-weight: bolder;
}

#sched-content-inner h3 {
    clear: left;
    color: #999;
    float: left;
    margin: 16px 0 0;
    text-align: left;
    width: 100px;
    margin-top: 0;
    zoom: 1;
}
#sched-content-inner h3.title {
    font-size: 18px !important;
    font-weight: normal;
    color: #000 !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 20px;
    margin-top: 0;
    text-align: left;
    float: initial;
    width: 100%;
}
#sched-content-inner .opening h3.title, #sched-content-inner .lunch h3.title, #sched-content-inner .review h3.title, #sched-content-inner .qa h3.title {
    color: #fff !important;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: initial;
    display: block;
}
#scrollToTop{
  height: 40px;
  width: 60px;
 
  position: fixed;
  bottom: 0px;
  right: 0px;
  border-radius: 10px 0 0 0;
  
  z-index: 1000;
  display:none;
  background:rgba(232, 98, 86,0.9) url('../img/arrow.svg') no-repeat center 50%;
}
#fab {
    height: 40px;
  width: 60px;
 
  position: fixed;
  bottom: 0px;
  right: 0px;
  border-radius: 10px 0 0 0;
  
  z-index: 1000;
  display:none;
}
.line-center{
    margin:0;padding:0 10px;
    background:#fff;
    display:inline-block;
}
h2{

    text-align:center;
    position:relative;
    z-index:2;
}
h2:after{
    content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 1px #D0D0D0;
    z-index:-1;
}
#org_name {
     position: absolute;
    left:105px;
    top: 10px;
    font-size: 18px;
    margin: 0;
    color: black;
    text-align: left;
}
#org_type {
    position: absolute;
    bottom: 25px;
    left: 105px;
    background-color: #000;
    color: #fff;
    padding: 5px 15px;
}


#deed {
color:#00458A;
 text-align:center;
 padding:5px;
}

#dood {
  color:#666;
  padding:5px;
}
hr {
 height: 1px;
color: #C0C0C0;
background-color: #C0C0C0;
border: none;
margin: 0;
}
#buyTicket{
  font-weight: bold;
}
#list {
  font-size: 15px;
}
#eventlist {
  padding-top: 10px;
  padding-bottom: 0px;
}
::-webkit-input-placeholder {
 font-size: 17px;
 padding-top: 2px;
 color: #d0cdfa;
}
:-moz-placeholder { /* older Firefox*/
 font-size:17px;
 color: #d0cdfa;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 17px;
 color: #d0cdfa; 
} 
:-ms-input-placeholder { 
 font-size: 17px; 
 color: #d0cdfa;
}
#profile hr{
  background-color:#FF5700;
}
#org hr {
  background-color: #FF5700;
}
#buyForm ::-webkit-input-placeholder {
 font-size: 16px;
 color: #d0cdfa;
}

:-moz-placeholder { /* older Firefox*/
 font-size:15px;
 padding-left: 10px;
 color: #d0cdfa;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 15px;
  padding-left: 10px;
 color: #d0cdfa; 
} 
:-ms-input-placeholder { 
 font-size: 15px; 
  padding-left: 10px;
 color: #d0cdfa;
}
a:link{
  text-decoration: none;
}
.sched-container-dates {
    line-height: 18px;
    color: #333;
    font-size: 15px;
}
.event.opening {
    background-color: #ED1C24;
}
.event.lunch {
  background-color: #9EDF7D; 
}
.event.qa {
      background-color: #188BBB;
}
.event.review {
      background-color: orange; 
}

.event.lunch,.event.review,.event.qa,.event.opening{
  border-radius:4px;
  margin-left: 15px;
  width: 90%;
  padding-bottom: 10px;
  padding-top: 5px;
}
#mybuttons a{
  color:#FF5700; /*DC143C*/
}
#desc {
  font-size:14px;
  color: #262626;
}
[role="tabpanel"] {
    transition: none;
}
.popup-buttons .button{
  font-size: 12px;
}

.popup-title {
  color: black;
  font-size: 15px;
}
.popup-body{
  text-align: center;
  font-size: 15px;
}
.toggle input:checked + .track {
    background-color:#FF5700;
    border-color:#FF5700;
}

#head {
    color:#283A44;
    font-size:18px;
    font-weight:bold;
}
  #slide {
  height:600px;
}
#homeimg {
  width: 360px;
  height: 640px;
}
.toggle {
  position: absolute;
  left: 35px;
  margin-right: 0px;
}

#topheader {
 font-size:16px;background-color:#FF5700;color:white;padding:5px;border-radius:5px
}
.bg-pink {
  background-color: rgba(241, 60, 110, 1);
}
.bg-purple {
    background-color: rgba(97, 92, 168, 1) !important;
}
.bg-info {
    background-color: rgba(28, 168, 221, 1);
}
.bg-success {
    background-color: rgba(51, 184, 108, 1);
}
.widget-style-2 {
  padding-left: 30px;
}

.widget-panel {
  padding: 2px 20px;
  color: #ffffff;
  position: relative;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.widget-style-2 i {
  font-size: 20px;
  padding: 0;
  color: #edf0f0;
  /* background: rgba(255,255,255,0.2); */
}

.widget-style-2 h4 {
  font-weight: 600;
  font-size: 18px;
  margin:0;
  color:white;
}
#icon {
  font-size: 19px;
}
#buyticketfrm {
  margin-left:auto;margin-right:auto;width:330px;
}
#ticketinput{
  padding-left:10px;font-size:17px;height:35px;background-color:#f8f8f8;border-bottom:1px solid #FF5700;
}
#buyticketLabel{
  font-size: 17px;
}
.new {
  position:absolute;top:5%;right:32px;padding:5px 20px 5px 20px;background-color:rgba(239,71,58,0.8);color:white;
}
#selectTicket {
  width:315px;margin-left:auto;margin-right:auto;
}
#select {
  border-radius:2px;padding:5px;width:322px;font-size:17px;height:35px;background-color:white;border:1px solid #FF5700;
}
#accept {
   background-color:rgba(51,205,95,0.8);margin-right:35px;
}
#reject {
   background-color:rgba(239,71,58,0.8);margin-left:35px;
}
.ticketImgNew {
  background-color:rgba(239,71,58,0.8);margin-left:35px;position:absolute;top:10%;right:8px;padding-left:20px;padding-right:20px;padding-top:5px;padding-bottom:5px;color:white;font-size:15px;
}
#barcode {
  width:200px;height:200px;margin-left:80px;margin-right:auto;margin-top:200px;
}
.input-label {
  font-size: 15px;
  width: 120px;
}
/*S5,S4*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){
  #deed {
    font-size: 20px;
    margin-top: 0px;
  }
  #dood{
    width: 350px;
    margin-right: 5px;
    margin-left: 5px;
  }
  #homeimg{
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
  }
  .slider-pager {
  margin-bottom: 25px;
}
#slide {
  height: 620px;
  width: 360px;
}
#icon {
  font-size: 18px;
  margin-left: 2px;
}
}
/*S3*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 1.5){
  #deed {
    font-size: 24px;
  }
  #dood{
    font-size: 16px;
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
  }
  .ticketImgNew{
  right: 6px;
}
  #homeimg {
    margin-top: 25px;
    width: 350px;
    margin-right: 5px;
    margin-left: 5px;
  }
  #accept {
    margin-right: 31px;
  }
  #reject{
    margin-left: 31px;
  }
  .new {
    right:31px;
  }
  .slider-pager {
  margin-bottom: 25px;
}
#slide {
  height: 620px;
  width: 360px;
}
#icon {
  font-size: 18px;
  margin-left: 2px;
}
}
/*Note 4*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4){
  #deed {
    font-size: 25px;
  }
  #dood{
    font-size: 16px;
    width: 350px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .ticketImgNew{
  right: 6px;
}
 #homeimg {
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
  }
  #accept {
    margin-right: 31px;
  }
  #reject {
    margin-left: 31px;
  }
  .new {
    right:31px;
  }
  .slider-pager {
  margin-bottom: 25px;
}
#slide {
  height: 620px;
  width: 360px;
}
#icon {
  font-size: 18px;
  margin-left: 2px;
}
}
/*Note 3*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){
  #deed {
    font-size: 24px;
  }
  #dood{
    font-size: 16px;
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
  }
  #homeimg {
    margin-top: 25px;
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .slider-pager {
  margin-bottom: 25px;
}
#accept{
  margin-right: 30px;
}
.ticketImgNew{
  right: 6px;
}
#reject {
  margin-left: 30px;
}
.new {
  right: 31px;
}
#slide {
  height: 620px;
  width: 360px;
}
#icon {
  font-size: 18px;
  margin-left: 2px;
}
}
/*S2*/
@media screen and (device-width: 320px) and (device-height: 533px) and (-webkit-device-pixel-ratio: 1.5){
  #deed {
    font-size: 19px;
    margin-top: 0px;
  }
  #dood{
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 5px
    width: 310px;
    font-size: 12px;
  }
  #barcode {
    margin-left: 60px;
    margin-top: 150px;
  }
  #homeimg{
    margin-top: 20px;
    width: 310px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ticketImgNew{
  right: 5px;
}
#accept {
  margin-right: 27px;
}
#reject {
  margin-left: 27px;
}
  #buyticketfrm{
  width: 290px;
}
#buyticketLabel{
  padding-right: 0px;
  width: 80px;
}
#ticketinput {
  font-size: 15px;
}
#select {
  width: 280px;
  font-size: 15px;
}
.new {
  right: 27px;
}
#selectTicket {
  width: 270px;
}
  .slider-pager {
  margin-bottom: 18px;
}
#slide {
  height: 513px;
  width: 320px;
}
#head {
  font-size: 15px;
}
#rightarrow{
  display: none;
}
#topheader {
  font-size: 12px;
}
#icon {
  font-size: 18px;
  margin-left: 2px;
}
}
/*Iphone 4*/
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2){
  #deed {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
  #dood{
    margin-top: 0px;
    font-size: 11px;
  }
  #homeimg{
    margin-left: 5px;
    margin-right: 5px;
    width: 310px;
    margin-top: 10px;
  }
#slide {
  height: 460px;
  width: 320px;
}
.ticketImgNew{
  right: 5px;
}
#accept {
  margin-right: 27px;
}
#reject {
  margin-left: 27px;
}
#buyticketfrm{
  width: 290px;
}
#buyticketLabel{
  padding-right: 0px;
  width: 80px;
}
#ticketinput {
  font-size: 15px;
}
#select {
  width: 280px;
  font-size: 15px;
}
#selectTicket {
  width: 270px;
}
.new {
  right: 27px;
}
#barcode {
  margin-left: 60px;
  margin-top: 160px
}
#buyticketfrm{
  width: 290px;
}
#head {
  font-size: 15px;
}
#rightarrow{
  display: none;
}
#topheader {
  font-size: 12px;
}
#icon {
  font-size: 18px;
  margin-left: 2px;
}
}
/*Iphone 5*/
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
  #deed {
    font-size: 20px;
    margin-top: 0px;
  }
  #dood{
    margin-bottom: 0px;
    width: 310px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 13px;
  }
  .slider-pager {
  margin-bottom: 25px;
}
#buyticketfrm{
  width: 290px;
}
#buyticketLabel{
  padding-right: 0px;
  width: 80px;
}
#ticketinput {
  font-size: 17px;
}
.new {
  right:27px;
}
#accept {
  margin-right:26px;
}
#reject {
  margin-left:26px;
}
#select {
  width: 290px;
}
#selectTicket {
  width: 290px;
}
.ticketImgNew {
  background-color:rgba(239,71,58,0.8);position:absolute;top:10%;right:6px;padding-left:20px;padding-right:20px;padding-top:5px;padding-bottom:5px;color:white;font-size:15px;
}
#barcode {
  margin-left: 60px;
  margin-top: 170px;
}
#homeimg {
      margin-left: 5px;
    margin-right: 5px;
    width: 310px;
    margin-top: 25px;
}
#slide {
  height: 548px;
  width: 320px;
}
#head {
  font-size: 15px;
}
#rightarrow{
  display: none;
}
#topheader {
  font-size: 14px;
}
#icon {
  font-size: 18px;
  margin-left: 2px;
}
}
/*Iphone 6*/
@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2){
  #deed {
    font-size: 22px;
    margin-left: 10px;
    bottom:265px;
  }
  #dood{
    margin-bottom: 0px;
    width: 365px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
  }
  .ticketImgNew{
  right: 6px;
}
  #barcode {
    margin-left: 87px;
  }
  #accept {
    margin-right: 32px;
  }
  #reject {
    margin-left: 32px;
  }
  .new {
    right: 32px;
  }
  #homeimg {
      margin-left: 5px;
    margin-right: 5px;
    width: 310px;
    margin-top: 25px;
  }
  .slider-pager {
  margin-bottom: 45px;
}
#slide {
  height: 667px;
  width: 375px;
}
#head {
  font-size: 18px;
}
#topheader {
  font-size: 16px;
}
#icon {
  font-size: 18px;
  margin-left: 2px;
}
}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

    .image-loader-container {
  margin: 9px;
  max-width: 81px;
  border-radius: 50%;
  max-height: 81px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #e5e5e5;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

 #card .image-loader-container {
  margin: 9px;
  max-width: 81px;
  max-height: 81px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #e5e5e5;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
#headerInfo {
  width: 150px;
  position: absolute;
  right: 5px;
  top: 10px;
  border: none;
}
#headerInfo a {
  padding: 0;
  border: none;
}