/* Empty. Add your own CSS if you like */
@font-face {
  font-family: 'fontawesome';
  src:url('../fonts/fontawesome-webfont.eot');
  src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
  url('../fonts/fontawesome-webfont.woff') format('woff'),
  url('../fonts/fontawesome-webfont.ttf') format('truetype'),
  url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa-bookmark-o:before {
  font-family: "fontawesome";
  content: "\f097";
}
.fa-chevron-left:before {
  font-family: "fontawesome";
  content: "\f053";
}
.button.button-assertive.button-outline.active, .button.button-assertive.button-outline.activated {
    background-color: #00cc52;
    box-shadow: none;
    color: #fff;
}
.button.button-assertive.button-outline {
    border-color: #ef473a;
    background: transparent;
    color: #00cc52;
}
#profile span{
  font-family: 'Arial';
}
.guestBtn .popup-buttons .button{
  padding: 0;
}
#profile input {
  font-family: 'Arial';
}
.fa-sort-amount-asc:before {
 font-family: "fontawesome";
 content: "\f160"; 
}
.fa-spinner:before {
  font-family: "fontawesome";
  content: "\f110";
}
.fa-bookmark:before {
  font-family: "fontawesome";
  content: "\f02e";
}
.fa-trash-o:before {
  font-family: "fontawesome";
  content: "\f014";
}
.fa-share-square-o:before {
  font-family: "fontawesome";
  content: "\f045";
}
.fa-thumbs-o-up:before {
  font-family: "fontawesome";
  content: "\f087";
}
.fa-line-chart:before {
  font-family: "fontawesome";
  content: "\f201";
}
.fa-user-plus:before {
  font-family: "fontawesome";
  content: "\f234";
}
.fa-eye:before {
  font-family: "fontawesome";
  content: "\f06e";
}
.fa-question:before {
  font-family: "fontawesome";
  content: "\f128";
}
.fa-building-o:before {
  font-family: "fontawesome";
  content: "\f0f7";
}
.fa-check-square-o:before {
  font-family: "fontawesome";
  content: "\f046";
}
.fa-check-square:before {
  font-family: "fontawesome";
  content: "\f14a";
}
.fa-bars:before {
  font-family: "fontawesome";
  content: "\f0c9";
}
.fa-ticket:before {
  font-family: "fontawesome";
  content: "\f145";
}
.fa-search:before {
  font-family: "fontawesome";
  content: "\f002";
}

#ticket img {
  margin-top: 10px;
}
.content:  {
	color: orange;
}
#org input {
  background-color: #f8f8f8;
  padding-left: 0;
}
#allowBtn {
  width: 100%;
}
#allowBtn a{
  margin: 0;
}
#addEventButton {
  width: 91%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#addButton {
  border:1px solid #A8A8A8   ;
  padding: 5px 10px 5px 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
}
#acceptedButton {
  border:1px solid #f8f8f8;
  padding: 5px 10px 5px 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  color: white;
  background-color: #00CC52;;
}
#pendingButton {
  border:1px solid #f8f8f8;
  padding: 5px 10px 5px 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  color: white;
  background-color: red;
}
#urilgaButton {
  border:1px solid #f8f8f8;
  padding: 5px 10px 5px 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  background-color: rgba(255,0,0,0.7);
  color:white;
  font-size: 16px;
}
#paidButton {
  border:1px solid #f8f8f8;
  padding: 5px 10px 5px 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  background-color: #55ACEE;
  color:white;
  font-size: 16px;
}
#freeButton {
  border:1px solid #f8f8f8;
  padding: 5px 10px 5px 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  background-color: #00cc52;
  color:white;
  font-size: 16px;
}
.lgBtn {
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding:8px 0 8px 0;
  background-color: white;
  color: gray;
}
.login {
	height: 400px;
	background-color:orange;
}
.image{
	border: 1px solid;
}
#deleteBtn {
  padding: 5px 10px 5px 10px;
  background-color: rgba(255,0,0,0.7);
  color: white;
  font-size: 14px;
}
#homeBtns{
  margin: 0;
  padding: 0;
  width: 100px;
  position: absolute;
  right: 0;
  top:0;
}
#ticketBtns{
  margin: 0;
  padding: 0;
  width: 200px;
  position: absolute;
  right: 0;
  top:0;
}

#ticketBtns div {
  border:1px solid #e6e6e6;
  text-align: center;
  font-size: 16px;
  color:#45b5df;;
}
.custom {
  color:green;
}
#homeBtns div {
  border:1px solid #e6e6e6;
  text-align: center;
  font-size: 20px;
  color:#45b5df;;
}
#homeBtns div #suggest {
  color:#FF5700;;;
}
#addEvent {
  margin-top: 0;
  width: 100%;
  border-radius: 5px;
  color:white;
  background-color: #FF5700;
  box-shadow:none;
  border:none;
  padding: 8px 0 8px 0;
  font-family: 'Arial';
  font-size: 16px;
}
#org {
  margin-bottom: 0 !important;
}
#createEvent {
  margin-top: 10px;
}
#createEvent .item-input {
  /*padding: 0 14px 0 14px;*/
  width: 90%;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

#createEvent input {
  background-color: #f8f8f8;
  padding-right: 0;
  border-bottom: 1px solid #FF5700;;
}
#selectOrg {
  width: 100%;
  padding: auto;
  padding-left: 15px;
  padding-right: 15px;
}
#selectOrg select {
  width: 100%;
  height: 30px;
  margin-left: auto;
  margin-left: auto;
}
#createEvent span {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}
#createEvent ::-webkit-input-placeholder {
 font-size: 15px;
 padding-top: 0px;
 font-family: 'Arial';
 color:black;
 color: #aaa;
}
#categoryText {
  border:none;padding-bottom:0;font-weight:bold;font-size:19px;padding-left:5px;color::#283A44;font-family:'Arial';
}
#public{
  border: 1px solid #00cc52;
  border-radius: 2px;
  color: #00cc52;
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}
#private {
  border: 1px solid #00cc52;
  border-radius: 2px;
  font-size: 13px;
  padding: 0;
  padding: 5px 10px 5px 10px;
  background-color: #00cc52;
  color: white;
  text-align: center;
}
#delete {
  color: white;
  margin-left: 5px;
  background-color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  text-align: center;
  font-size: 13px;
}
#search {
  border: none !important;
}
#search i{
  border: none !important;
  font-size: 22px;
  margin-right: 5px;
}
#search input{
  border: none;
  width: 100%;
  font-size: 22px;
}
#forgot input {
  font-size: 15px;
  font-family: 'Arial';
}
#forgot ::-webkit-input-placeholder {
 font-size: 15px;
 font-family: 'Arial';
 color:black;
 color: #aaa;
}
#search ::-webkit-input-placeholder {
 font-size: 19px;
 border: none;
 padding-top: 5px;
 color:black;
 color: #aaa;
}
#suggest input {
  padding: 0;
}
#suggest ::-webkit-input-placeholder {
 font-size: 15px;
 padding: 0px;
 color:black;
 color: #aaa;
}
#clearButton {
  border: none;
  margin-right: 0px;
}
#searchList {
  margin: 0;
  height: 100%;
}
#searchList a {
  padding-top: 15px;
  padding-bottom: 28px;
}
#searchList img {
  height: 80px;
  width: 80px;
}
qr img {
  width: 150px;
  height: 150px;
  border: 5px solid #3498DB;
  margin-top: 30px;
  padding: 5px;
}
#ticketName {
  padding-left: 0px;
  text-align: left;
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #3498DB;
  margin-top: 320px;
}
#ticketName1 {
  padding-left: 0px;
  text-align: left;
  font-size: 23px;
  line-height: 30px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #c0392b;
  margin-top: 320px;
}
#register button[disabled]{
  color: white !important;
  border: none !important;
  background-color:rgba(255,171,127,0.8) !important;
}

#forgot button[disabled]{
 color: white !important;
 border: none !important;
 background-color:rgba(255,171,127,0.8) !important;
}
button.disabledBtn[disabled]{
  color: black !important;
  background-color: #ccc !important;
}
#ticketUrilgaName {
  text-align: left;
  font-size: 26px;
  font-family: "m3";
  text-align: center;
  line-height: 22px;
  color: white;
  text-transform: uppercase;
  margin-top: 315px;
  margin-bottom: 0;
}
#ticketUrilgaLocate{
 margin-top: 10px;
 margin-bottom: 0px;
 text-align: left;
 font-size: 24px;
 line-height: 22px;
 font-family: "m3";
 text-align: center;
 color: white;
}
#ticketUrilgaDate{
 margin-top: 10px;
 margin-bottom: 5px;
 text-align: left;
 font-size: 26px;
 line-height: 22px;
 font-family: "m3";
 text-align: center;
 color: white;
}
#ticketUrilga qr img {
  border: 2px solid white;
  width: 120px;
  height: 120px;
  margin-top: 0;
}
#ticketUrilga1 qr img {
  border: 2px solid white;
   width: 120px;
  height: 120px;
  margin-top: 0;
}
#ticketUrilga2 qr img {
  border: 2px solid white;
   width: 120px;
  height: 120px;
  margin-top: 0;
}
#ticketUrilga3 qr img {
  border: 2px solid white;
   width: 120px;
  height: 120px;
  margin-top: 0;
}
.deleteButton button {
  font-size: 12px;
  padding:0;
}
.deleteTicket {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
 /* padding: 5px 10px 5px 10px;*/
  /*background-color:rgba(239,71,58,0.8);*/
  color: black;
  border:1px solid #e6e6e6;
  font-size: 22px;
}
#ticketQR {
  padding: 0;
  border: none;
  position: absolute;
  right: 5px;
  bottom: 90px;
}
#ticketQR qr img {
  border: none;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: auto;
}
#ticketImg {
  background-image:url(../img/ticket/blue.png);
  background-repeat: no-repeat; 
  background-origin:padding-box;
  background-size: cover;
  background-size: 100% 874px;
  height:874px;
}
#ticketImg1 qr img{
  width: 150px;
  height: 150px;
  border: 5px solid #c0392b;
  margin-top: 30px;
  padding: 5px;
}
#ticketImg1 {
  background-image:url(../img/ticket/red.png);
  background-repeat: no-repeat; 
  background-origin:padding-box;
  background-size: cover;
  background-size: 100% 874px;
  height:874px;
}
#ticketUrilga {
  background-image:url(../img/Urilga/blue.jpg);
  background-repeat: no-repeat; 
  background-origin:padding-box;
  background-size: cover;
  background-size: 100% 639px;
  height:689px;
}
#ticketUrilga1 {
  background-image:url(../img/Urilga/black.jpg);
  background-repeat: no-repeat; 
  background-origin:padding-box;
  background-size: cover;
  background-size: 100% 639px;
  height:689px;
}
#ticketUrilga2 {
  background-image:url(../img/Urilga/green.jpg);
  background-repeat: no-repeat; 
  background-origin:padding-box;
  background-size: cover;
  background-size: 100% 639px;
  height:689px;
}
#ticketUrilga3 {
  background-image:url(../img/Urilga/red.jpg);
  background-repeat: no-repeat; 
  background-origin:padding-box;
  background-size: cover;
  background-size: 100% 639px;
  height:689px;
}
#ticketInfo {
  margin-top: 0;
  font-size: 22px;
  color: #3498DB;
  font-weight: bold;
}
#homeImg {
  height:200px;width:100%;
}
#ticketMain {
  width: 100%;
  left: 0px;
  position: absolute;
  top: 480px;
}
#ticketInfo1 {
  margin-top: 0;
  font-size: 22px;
  color: #c0392b;
  font-weight: bold;
}
#ticketMain1 {
  width: 100%;
  left: 0px;
  position: absolute;
  top: 480px;
}
#ticketType {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 35px;
  width: 80px;
  position: absolute;
  top:628px;
  right: 60px;
}
.custom-color{
 background: rgba(255,255,255,0.5) !important;
}
.profile-picture {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: 75px;
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  top: 10%;
  left: 5%;
}
.profile-picture img {
  width: 80px;
  height:80px;
  border-radius: 100%;
}
#proimg  {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: 75px;
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  top: 15%;
  left: 18%;
}
#proimg img {
 width: 80px;
 height:80px;
 border-radius: 100%;
}
img {
	width: 50px;
	height: 50px;
}
#lgnbtn{
	border-radius: 20px;
}
#lgnname {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#lgnpass {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}
.carddemoBasicUsage md-card {
  min-height: 150px; }

  .md-card-image {
   height: 500px;
 }

 #Date {
   text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   display: block;
   color: rgba(0,0,0,.8);
   font-size: 12px;
   line-height: 18px;
   height: 18px;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 5px 0 0;
 }
 #title {
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   white-space: normal;
   color: rgba(0,0,0,.8);
   font-size: 17px;
   line-height: 18px;
   margin-top: -2px;
   height: 34px;
   max-height: 36px;
   font-weight: 700;
   letter-spacing: 0;
 }
 #address {
   text-overflow: ellipsis;
   white-space: nowrap;
   color: rgba(0,0,0,.45);
   font-size: 14px;
   line-height: 18px;
   height: 18px;
   padding: 0;
   margin: 0;
   display: block;
   font-weight: 400;
   letter-spacing: .5px;
 }
 #clearButton {
  border: none;
  padding: 0px;
}
.Category {
	color:white;
	font-size: 20px;
}
ion-header-bar.bar-light.custom{
 background: rgba(255,255,255,0.1);
}

#Category {
  text-align: center;
  margin: 0;
  padding: 40px;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  border:0px;
  font-family: 'm3';
}

.transparent {
  background-color: rgba(0,0,0,0.5); !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
#fullscreen-image {
 max-width: 100%;
 max-height: 100%;
 bottom: 0;
 left: 0;
 margin: auto;
 overflow: auto;
 position: fixed;
 right: 0;
 top: 0;
}

.slider-pager {
  position: absolute;
  bottom: 50px;
}
.slider-pager-page.active
{
  color:#FF5700;
}
.slider-slide {
  color: #000;
  background-color: #fff;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}
#urilgaDetail {
  margin-top: 5%;
}
/* Fix modal backdrop for smaller devices */

.sched-container .circle {
  position: absolute;
  left: 89px;
  width: 24px;
  height: 24px;
  border: 2px solid #FF5700;
  background-color: white;
}

#sched-content-inner .coffee .speaker_profile ,
#sched-content-inner .networking .speaker_profile ,
#sched-content-inner .register .speaker_profile ,
#sched-content-inner .opening .speaker_profile , 
#sched-content-inner .lunch .speaker_profile,
#sched-content-inner .review .speaker_profile,
#sched-content-inner .qa .speaker_profile{
  display: none;
}
#sched-content-inner {
  padding-bottom: 15px;
}
.event {
  box-shadow: initial;
  width: 100%;
  max-width: 100%;
}

.sched-container {
  overflow: hidden;
  border-left: 2px solid #FF5700;
  padding-bottom: 20px;
}
.agenda_list h3{
  font-family: 'm3';
  font-size: 17px;
}
.agenda_list div:last-child .sched-container {
  padding-bottom: 0;

}

.sched-container-inner {
  padding-top: 0;
}

.event .name {
  color: #999;
  display: block;
  margin-left: 20px;
  margin-top: 0;
  float: initial;
}
.speaker_image {
  padding:0;
  min-height: 50px;
  width: 80px;
  margin-left: 20px;
  float: left;
}
a:visited,a:link,a:active {
  color: black;
}
h5.speaker_name {
  font-weight: bolder;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 55px;
  margin-bottom: 10px;
}
.speaker_position{
  font-size: 14px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
}
.speaker_image img {
  width: 100%;
  height: 100%;
  max-height: 80px;
  background-color: #ccc;
}
.img-circle {
  border-radius: 50%;
}

h5.speaker_name {
  font-weight: bolder;
}

#sched-content-inner h3 {
  clear: left;
  color: #999;
  float: left;
  margin: 16px 0 0;
  text-align: left;
  width: 100px;
  margin-top: 0;
  zoom: 1;
}
#sched-content-inner h3.title {
  font-size: 18px !important;
  font-weight: normal;
  color: #000 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 20px;
  margin-top: 0;
  text-align: left;
  float: initial;
  width: 100%;
}
.sched-container-dates {
  font-family: 'm3';
}
#sched-content-inner .networking h3.title,#sched-content-inner .register h3.title,#sched-content-inner .opening h3.title,#sched-content-inner .coffee h3.title, #sched-content-inner .lunch h3.title, #sched-content-inner .review h3.title, #sched-content-inner .qa h3.title {
  color: #fff !important;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  float: initial;
  display: block;
}
#scrollToTop{
  height: 40px;
  width: 60px;
  
  position: fixed;
  bottom: 0px;
  right: 0px;
  border-radius: 10px 0 0 0;
  
  z-index: 1000;
  display:none;
  background:rgba(232, 98, 86,0.9) url('../img/arrow.svg') no-repeat center 50%;
}
#fab {
  height: 40px;
  width: 60px;
  
  position: fixed;
  bottom: 0px;
  right: 0px;
  border-radius: 10px 0 0 0;
  
  z-index: 1000;
  display:none;
}
.line-center{
  margin:0;padding:0 10px;
  background:#fff;
  display:inline-block;
}
h2{
  font-family: "Arial", Georgia, Serif;
  text-align:center;
  position:relative;
  z-index:2;
}
h2:after{
  content:"";
  position:absolute;
  top:50%;
  left:0;
  right:0;
  border-top:solid 1px #D0D0D0;
  z-index:-1;
}
#org_name {
 position: absolute;
 left:105px;
 top: 10px;
 font-size: 18px;
 margin: 0;
 color: black;
 text-align: left;
}
#org_type {
  position: absolute;
  bottom: 25px;
  left: 105px;
  background-color: #000;
  color: #fff;
  padding: 5px 15px;
}


#deed {
  color:#00458A;
  text-align:center;
  padding:5px;
  margin: 0;
}

#dood {
  color:#666;
  padding-top: 0 5px 0 5px !important;
  text-align: justify;
  white-space: pre-line;
}
hr {
 height: 1px;
 color: #C0C0C0;
 background-color: #C0C0C0;
 border: none;
 margin: 0;
}
#buyTicket{
  font-weight: bold;
}
#list {
  font-size: 17px;
  font-family: 'm3';
}
#eventlist {
  padding-top: 10px;
  font-family: 'm3';
  font-size: 18px;
  padding-bottom: 0px;
}
#register input {
  font-size: 16px;
}
#login input {
  font-size: 15px;
  border-bottom: 1px solid #c6c6c6;
}
#login  ::-webkit-input-placeholder {
 font-size: 14px;
 margin-top: 5px;
 margin-bottom: 5px; 
 color: #aaa;
}
#register  ::-webkit-input-placeholder {
 font-size: 16px;
 margin-top: 5px;
 margin-bottom: 5px; 
 color: #aaa;
}
#searchHeader ::-webkit-input-placeholder {
 font-size: 18px;
 padding-top: 5px;
 color: #aaa;
}

::-webkit-input-placeholder {
 font-size: 17px;
 padding-top: 2px;
 color: #d0cdfa;
}
:-moz-placeholder { /* older Firefox*/
 font-size:17px;
 color: #d0cdfa;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 17px;
 color: #d0cdfa; 
} 
:-ms-input-placeholder { 
 font-size: 17px; 
 color: #d0cdfa;
}
#profile {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}
#profile input {
  text-align: right;
  background-color: #f8f8f8;
  border-bottom:1px solid #FF5700;;
}
#profile label {
  border:none !important;
}
#profile hr{
  background-color:#FF5700;
}
#org hr {
  background-color: #FF5700;
}
#buyForm ::-webkit-input-placeholder {
 font-size: 16px;
 color: #d0cdfa;
}

:-moz-placeholder { /* older Firefox*/
 font-size:15px;
 padding-left: 10px;
 color: #d0cdfa;
}
::-moz-placeholder { /* Firefox 19+ */ 
 font-size: 15px;
 padding-left: 10px;
 color: #d0cdfa; 
} 
:-ms-input-placeholder { 
 font-size: 15px; 
 padding-left: 10px;
 color: #d0cdfa;
}
a:link{
  text-decoration: none;
}
.sched-container-dates {
  line-height: 18px;
  color: #333;
  font-size: 15px;
}
.event.opening {
  background-color: #ED1C24;
}
.event.coffee {
  background-color: #6F4E37;
}
.event.networking{
  background-color: #ffd66b;
}
.event.register {
  background-color: #51617d;
}
.event.lunch {
  background-color: #9EDF7D; 
}
.event.qa {
  background-color: #188BBB;
}
.event.review {
  background-color: orange; 
}

.event.lunch,.event.networking,.event.register,.event.review,.event.qa,.event.opening,.event.coffee{
  border-radius:4px;
  margin-left: 15px;
  width: 90%;
  padding-bottom: 10px;
  padding-top: 5px;
}
#mybuttons a{
  color:#FF5700; /*DC143C*/
}
#desc {
  font-size:16px;
  font-family: 'm3';
  color: #262626;
  padding-left: 1px;
}
[role="tabpanel"] {
  transition: none;
}
.popup-buttons .button{
  font-size: 12px;
  padding: 0;
}
.popup-title {
  color: black;
  font-size: 15px;
}
.popup-body{
  text-align: center;
  font-size: 15px;
}
.toggle input:checked + .track {
  background-color:#FF5700;
  border-color:#FF5700;
}

#head {
  color:#283A44;
  font-size:22px;
  font-weight:bold;
  font-family: 'm3';
}
#slide {
  height:600px;
}
#homeimg {
  width: 360px;
  height: 640px;
}


#topheader {
 font-size:16px;background-color:#FF5700;color:white;padding:5px;border-radius:5px
}
.bg-pink {
  background-color: rgba(241, 60, 110, 1);
}
.bg-purple {
  background-color: rgba(97, 92, 168, 1) !important;
}
.bg-info {
  background-color: rgba(28, 168, 221, 1);
}
.bg-success {
  background-color: rgba(51, 184, 108, 1);
}
.widget-style-2 {
  padding-left: 30px;
}

.widget-panel {
  padding: 2px 20px;
  color: #ffffff;
  position: relative;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
.widget-style-2 i {
  font-size: 20px;
  padding: 0;
  color: #edf0f0;
  /* background: rgba(255,255,255,0.2); */
}

.widget-style-2 h4 {
  font-weight: 600;
  font-size: 18px;
  margin:0;
  color:white;
}
#icon {
  font-size: 19px;
}
#buyticketfrm {
  margin-left:auto;
  margin-right:auto;
  width:330px;
}
#buyticketfrm label {
  padding-left: 0px;

}
#buyticketfrm input {
  font-size: 18px;
  font-family: 'm3';
}
#sidemenu ion-item{
  font-family: 'Arial';
}
#ticketinput{

  padding-left:10px;
  font-size:17px;height:35px;background-color:#f8f8f8;border-bottom:1px solid #FF5700;
}
#buyticketLabel{
 font-family: 'm3';
 width: 80px;
 font-size: 18px;
 margin-left: 0px !important;
}
.new {
  position:absolute;top:5%;right:0;padding:5px 20px 5px 20px;background-color:rgba(239,71,58,0.8);color:white;
}
#selectTicket {
  width:330px;margin-left:auto;margin-right:auto;
}
#selectTicket option {
  font-family: 'm3';
}
#select {
  font-family: 'm3';
  border-radius:2px;padding:5px;width:330px;font-size:19px;height:40px;background-color:white;border:1px solid #FF5700;
}
#accept {
 background-color:rgba(51,205,95,0.8);margin-right:35px;
}
#reject {
 background-color:rgba(239,71,58,0.8);margin-left:35px;
}
#accept1 {
 background-color:rgba(51,205,95,0.8);
}
#reject1 {
 background-color:rgba(239,71,58,0.8);
}
.button-bar{
  margin: 0;
  border: none;
}
.ticketImgNew {
  background-color:rgba(239,71,58,0.8);position:absolute;top:10%;right:0px;padding-left:20px;padding-right:20px;padding-top:5px;padding-bottom:5px;color:white;font-size:15px;
}
.modal qr img{
  border:8px solid white;
  padding: 0px;
  width:200px;height:200px;margin-left:80px;margin-right:auto;margin-top:200px;
}
.input-label {
  font-size: 15px;
  width: 120px;
}
#mine {
  width:330px;margin-left:auto;margin-right:auto;padding-left:0;
}
/*S5,S4*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){
  #deed {
    font-size: 20px;
    margin-top: 0px;
  }
  #dood{
    width: 350px;
    margin-right: 5px;
    margin-left: 5px;
  }
  #homeimg{
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
  }
  .slider-pager {
    margin-bottom: 25px;
  }
  #slide {
    height: 620px;
    width: 360px;
  }
  #icon {
    font-size: 18px;
    margin-left: 2px;
  }
}
/*S3*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 1.5){
  #deed {
    font-size: 24px;
  }
  #dood{
    font-size: 16px;
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
  }

  #homeimg {
    margin-top: 25px;
    width: 350px;
    margin-right: 5px;
    margin-left: 5px;
  }
  #accept {
    margin-right: 31px;
  }
  #reject{
    margin-left: 31px;
  }

  .slider-pager {
    margin-bottom: 25px;
  }
  #slide {
    height: 620px;
    width: 360px;
  }
  #icon {
    font-size: 18px;
    margin-left: 2px;
  }
}
/*Note 4*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4){
  #deed {
    font-size: 25px;
  }
  #dood{
    font-size: 16px;
    width: 350px;
    margin-right: 5px;
    margin-left: 5px;
  }

  #homeimg {
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
  }
  #accept {
    margin-right: 31px;
  }
  #reject {
    margin-left: 31px;
  }

  .slider-pager {
    margin-bottom: 25px;
  }
  #slide {
    height: 620px;
    width: 360px;
  }
  #icon {
    font-size: 18px;
    margin-left: 2px;
  }
}
/*Note 3*/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3){
  #deed {
    font-size: 24px;
  }
  #dood{
    font-size: 16px;
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
  }
  #homeimg {
    margin-top: 25px;
    width: 350px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .slider-pager {
    margin-bottom: 25px;
  }
  #accept{
    margin-right: 30px;
  }

  #reject {
    margin-left: 30px;
  }

  #slide {
    height: 620px;
    width: 360px;
  }
  #icon {
    font-size: 18px;
    margin-left: 2px;
  }
}
/*S2*/
@media screen and (device-width: 320px) and (device-height: 533px) and (-webkit-device-pixel-ratio: 1.5){
  #deed {
    font-size: 19px;
    margin-top: 0px;
  }
  #ticketName{
    font-size: 20px;
  }
  #dood{
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 5px
    width: 310px;
    font-size: 12px;
  }
  .modal qr img {
    margin-left: 60px;
    margin-top: 150px;
  }
  #homeimg{
    margin-top: 20px;
    width: 310px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #accept {
    margin-right: 27px;
  }
  #reject {
    margin-left: 27px;
  }
  #buyticketfrm{
    width: 290px;
  }
  #buyticketLabel{
    padding-right: 0px;
    width: 80px;
  }
  #ticketinput {
    font-size: 15px;
  }
  #select {
    width: 280px;
    font-size: 15px;
  }

  #selectTicket {
    width: 270px;
  }
  .slider-pager {
    margin-bottom: 18px;
  }
  #slide {
    height: 513px;
    width: 320px;
  }
  #head {
    font-size: 15px;
  }
  #rightarrow{
    display: none;
  }
  #topheader {
    font-size: 12px;
  }
  #icon {
    font-size: 18px;
    margin-left: 2px;
  }
}
/*Iphone 4*/
@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2){
  #deed {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
  }
  #ticketName{
    font-size: 20px;
  }
  #dood{
    margin-top: 0px;
    font-size: 11px;
  }
  #homeimg{
    margin-left: 5px;
    margin-right: 5px;
    width: 310px;
    margin-top: 10px;
  }
  #slide {
    height: 460px;
    width: 320px;
  }

  #accept {
    margin-right: 27px;
  }
  #reject {
    margin-left: 27px;
  }
  #buyticketfrm{
    width: 290px;
  }
  #mine {
    width: 290px;
  }
  #buyticketLabel{
    padding-right: 0px;
    width: 80px;
  }
  #ticketinput {
    font-size: 15px;
  }
  #select {
    width: 280px;
    font-size: 15px;
  }
  #selectTicket {
    width: 270px;
  }

  .modal qr img {
    margin-left: 60px;
    margin-top: 160px
  }
  #buyticketfrm{
    width: 290px;
  }
  #head {
    font-size: 15px;
  }
  #rightarrow{
    display: none;
  }
  #topheader {
    font-size: 12px;
  }
  #icon {
    font-size: 18px;
    margin-left: 2px;
  }
}
/*Iphone 5*/
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
  #deed {
    font-size: 20px;
    margin-top: 0px;
  }
  #ticketName{
    font-size: 20px;
  }
  div#segment.buttons{
    font-size: 12px;
  }
  #dood{
    margin-bottom: 0px;
    width: 310px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 13px;
  }
  .slider-pager {
    margin-bottom: 0px;
  }
  #buyticketfrm{
    width: 290px;
  }
  #mine {
    width: 290px;
  }
  #buyticketLabel{
    padding-right: 0px;
    width: 80px;
  }
  #ticketinput {
    font-size: 17px;
  }
  #Category {
    padding-left: 28px;
  }
  #accept {
    margin-right:26px;
  }
  #reject {
    margin-left:26px;
  }
  #select {
    width: 290px;
  }
  #selectTicket {
    width: 290px;
  }
  .ticketImgNew {
    background-color:rgba(239,71,58,0.8);position:absolute;top:10%;right:0;padding-left:20px;padding-right:20px;padding-top:5px;padding-bottom:5px;color:white;font-size:15px;
  }
  .modal qr img {
    margin-left: 60px;
    margin-top: 170px;
  }
  #homeimg {
    margin-left: 5px;
    margin-right: 5px;
    width: 310px;
    margin-top: 25px;
  }
  #homeImg {
    height: 180px;
  }
  #slider img {
    height: 240px !important;
  }
  #slide {
    height: 548px;
    width: 320px;
  }
  #proimg{
    left:40px;
  }
  #head {
    font-size: 18px;
  }
  #rightarrow{
    display: none;
  }
  #topheader {
    font-size: 14px;
  }
  #icon {
    font-size: 18px;
    margin-left: 2px;
  }
}
/*Iphone 6*/
@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2){
  #deed {
    font-size: 22px;
    margin-left: 10px;
    bottom:265px;
  }
  #dood{
    margin-bottom: 0px;
    width: 365px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
  }
  
  .modal qr img {
    margin-left: 87px;
  }
  #accept {
    margin-right: 32px;
  }
  #reject {
    margin-left: 32px;
  }

  #homeimg {
    margin-left: 5px;
    margin-right: 5px;
    width: 310px;
    margin-top: 25px;
  }
  .slider-pager {
    margin-bottom: 45px;
  }
  #slide {
    height: 667px;
    width: 375px;
  }
  #head {
    font-size: 18px;
  }
  #topheader {
    font-size: 16px;
  }
  #icon {
    font-size: 18px;
    margin-left: 2px;
  }
}
/*Iphone 6 Plus*/
@media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3){
  #deed {
    font-size: 22px;
    margin-left: 10px;
    bottom:265px;
  }
  #dood{
    margin-bottom: 0px;
    width: 365px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
  }
  
  .modal qr img {
    margin-left: 107px;
  }
  #accept {
    margin-right: 32px;
  }
  #reject {
    margin-left: 32px;
  }
  #homeimg {
    margin-left: 5px;
    margin-right: 5px;
    width: 310px;
    margin-top: 25px;
  }
  .slider-pager {
    margin-bottom: 45px;
  }
  #slide {
    height: 667px;
    width: 375px;
  }
  #head {
    font-size: 18px;
  }
  #topheader {
    font-size: 16px;
  }
  #icon {
    font-size: 18px;
    margin-left: 2px;
  }
}
/*Apple iPad 3, 4, Air, Apple iPad mini 2, 3*/
@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2){
  #deed {
    font-size: 22px;
    margin-left: 10px;
    bottom:265px;
  }
  #dood{
    margin-bottom: 0px;
    width: 365px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
  }
  #Paid {
   margin-right: 40px;
 }
 #categoryText {
  padding-top: 60px !important;
}
#Category {
  padding-top: 80px;
  font-size: 25px;
  height: 180px;
}
#homeImg{
  height: 300px;
}
#buyticketfrm{
  width: 500px;
}
#selectTicket{
  width: 500px;
}
#slider img {
  display: none;
}
#select {
  width: 500px;
}
#ticketImg{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
#ticketImg1{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

#ticketUrilga{
 width: 400px;
 margin-right: auto;
 margin-left: auto;
}
#ticketUrilga1{
 width: 400px;
 margin-right: auto;
 margin-left: auto;
}

#ticketUrilga2{
 width: 400px;
 margin-right: auto;
 margin-left: auto;
}
#ticketUrilga3{
 width: 400px;
 margin-right: auto;
 margin-left: auto;
}
#mine {
  width: 500px;
}
#proimg{
  left: 35%;
}
#savedFree {
  margin-right: 40px;
}
#savedPaid {
  margin-right: 40px;
}
#Free {
  margin-right: 40px;
}
#slider img {
  height: 100%;
}
.modal qr img {
  margin-left: 107px;
}
#accept {
  margin-right: 32px;
}
#reject {
  margin-left: 32px;
}
#homeimg {
  margin-left: 5px;
  margin-right: 5px;
  width: 310px;
  margin-top: 25px;
}
.slider-pager {
  margin-bottom: 45px;
}
#slide {
  height: 667px;
  width: 375px;
}
#head {
  font-size: 18px;
}
#topheader {
  font-size: 16px;
}
#icon {
  font-size: 18px;
  margin-left: 2px;
}
}
/*Apple iPad 1, 2,Apple iPad mini*/
@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1){
  #deed {
    font-size: 22px;
    margin-left: 10px;
    bottom:265px;
  }
  #dood{
    margin-bottom: 0px;
    width: 365px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
  }
  #categoryText {
    padding-top: 60px !important;
  }
  #Category {
    padding-top: 80px;
    font-size: 25px;
    height: 180px;
  }
  #homeImg{
    height: 300px;
  }
  #Paid {
   margin-right: 40px;
 }
 #buyticketfrm{
  width: 500px;
}
#selectTicket{
  width: 500px;
}
#slider img {
  display: none;
}
#select {
  width: 500px;
}
#ticketImg{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
#ticketImg1{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
#ticketUrilga{
 width: 400px;
 margin-right: auto;
 margin-left: auto;
}
#ticketUrilga1{
 width: 400px;
 margin-right: auto;
 margin-left: auto;
}

#ticketUrilga2{
 width: 400px;
 margin-right: auto;
 margin-left: auto;
}
#ticketUrilga3{
 width: 400px;
 margin-right: auto;
 margin-left: auto;
}
#mine {
  width: 500px;
}
#proimg{
  left: 35%;
}
#savedFree {
  margin-right: 40px;
}
#savedPaid {
  margin-right: 40px;
}
#Free {
  margin-right: 40px;
}
#slider img {
  height: 100%;
}
.modal qr img {
  margin-left: 107px;
}
#accept {
  margin-right: 32px;
}
#reject {
  margin-left: 32px;
}
#homeimg {
  margin-left: 5px;
  margin-right: 5px;
  width: 310px;
  margin-top: 25px;
}
.slider-pager {
  margin-bottom: 45px;
}
#slide {
  height: 667px;
  width: 375px;
}
#head {
  font-size: 18px;
}
#topheader {
  font-size: 16px;
}
#icon {
  font-size: 18px;
  margin-left: 2px;
}
}
/*Samsung Galaxy Tab 3 10",Samsung Galaxy Tab 2 10",Samsung Galaxy Tab (8.9")*/
@media screen and (device-width: 800px) and (device-height: 1280px) and (-webkit-device-pixel-ratio: 1){
  #deed {
    font-size: 22px;
    margin-left: 10px;
    bottom:265px;
  }
  #dood{
    margin-bottom: 0px;
    width: 365px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
  }
  #Paid {
   margin-right: 50px;
 }
 #buyticketfrm{
  width: 500px;
}
#selectTicket{
  width: 500px;
}
#slider img {
  display: none;
}
#select {
  width: 500px;
}
#ticketImg{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
#ticketUrilga{
 width: 400px;
 margin-right: auto;
 margin-left: auto;
}
#mine {
  width: 500px;
}
#proimg{
  left: 35%;
}
#savedFree {
  margin-right: 40px;
}
#savedPaid {
  margin-right: 40px;
}
#Free {
  margin-right: 50px;
}
#slider img {
  height: 100%;
}
.modal qr img {
  margin-left: 107px;
}
#accept {
  margin-right: 32px;
}
#reject {
  margin-left: 32px;
}
#homeimg {
  margin-left: 5px;
  margin-right: 5px;
  width: 310px;
  margin-top: 25px;
}
.slider-pager {
  margin-bottom: 45px;
}
#slide {
  height: 667px;
  width: 375px;
}
#head {
  font-size: 18px;
}
#topheader {
  font-size: 16px;
}
#icon {
  font-size: 18px;
  margin-left: 2px;
}
}
/*Microsoft Surface Pro, Microsoft Surface Pro 2*/
@media screen and (device-width: 720px) and (device-height: 1280px) and (-webkit-device-pixel-ratio: 1.5){
  #deed {
    font-size: 22px;
    margin-left: 10px;
    bottom:265px;
  }
  #dood{
    margin-bottom: 0px;
    width: 365px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
  }
  #Paid {
   margin-right: 50px;
 }
 #buyticketfrm{
  width: 500px;
}
#selectTicket{
  width: 500px;
}
#slider img {
  display: none;
}
#select {
  width: 500px;
}
#ticketImg{
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
#ticketUrilga{
 width: 400px;
 margin-right: auto;
 margin-left: auto;
}
#mine {
  width: 500px;
}
#proimg{
  left: 35%;
}
#savedFree {
  margin-right: 40px;
}
#savedPaid {
  margin-right: 40px;
}
#Free {
  margin-right: 50px;
}
#slider img {
  height: 100%;
}
.modal qr img {
  margin-left: 107px;
}
#accept {
  margin-right: 32px;
}
#reject {
  margin-left: 32px;
}
#homeimg {
  margin-left: 5px;
  margin-right: 5px;
  width: 310px;
  margin-top: 25px;
}
.slider-pager {
  margin-bottom: 45px;
}
#slide {
  height: 667px;
  width: 375px;
}
#head {
  font-size: 18px;
}
#topheader {
  font-size: 16px;
}
#icon {
  font-size: 18px;
  margin-left: 2px;
}
}

#homeList {
  margin:-2%;padding:0px;width:114%;height:100%;
}
#savedFree {
  color:white;position:absolute;right:0;bottom:5px;padding:5px;padding-left:10px;padding-right:10px;background-color: rgba(0,204,82,0.8);
}
#savedPaid {
  color:white;position:absolute;right:0;bottom:5px;padding:5px;padding-left:10px;padding-right:10px;background-color:rgba(64,153,255,0.8);
}
#slider img {
  height:300px;width:100%;
}
#myFree {
  background-color:#00cc52;color:white;position:absolute;right:0;top:20px;padding:5px;padding-left:20px;padding-right:20px;background-color: rgba(0,204,82,0.8);
}
#myPaid {
 color:white;position:absolute;right:0;top:20px;padding:5px;padding-left:20px;padding-right:20px;background-color:rgba(64,153,255,0.8);
}
#Free {
  background-color:#00cc52;font-family:'m3';color:white;position:absolute;right:0;bottom:8px;padding:5px;padding-left:20px;padding-right:20px;background-color: rgba(0,204,82,0.8);
}
#Free p {
  font-size:17px;
}
#Paid {
  color:white;position:absolute;font-family:'m3';right:0;bottom:8px;padding:5px;padding-left:20px;padding-right:20px;background-color:rgba(64,153,255,0.8);
}
#Paid p {
  font-size:17px;
}
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
      .tabsdemoDynamicHeight md-content h1:first-child {
        margin-top: 0; }

        #searchList .image-loader-container {
          margin: 9px;
          max-width: 82px;
          border-radius: 100%;
          border: 1px solid #e5e5e5;
          max-height: 82px;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          background-color: #e5e5e5;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-content: stretch;
          align-items: center;
        }
        .image-loader-container {
          margin: 9px;
          max-width: 81px;
          border-radius: 50%;
          max-height: 81px;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          background-color: #e5e5e5;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-content: stretch;
          align-items: center;
        }

        #headerInfo {
          width: 100px;
          position: absolute;
          right: 5px;
          top: 10px;
          border: none;
        }
        #headerInfo a {
          padding-top: 0px;
          border: none;
        }
        ion-popover-view.fit {
          height: auto !important;
        }

        ion-popover-view.fit ion-content {
          position: relative !important;
        }
        .platform-ios ion-popover-view.fit {
          margin-top: 10px !important;
        }
        .platform-android ion-popover-view.fit {
          margin-top: 10px !important;
        }
        .platform-android ion-popover-view.fit select {
          background-color: transparent !important;
        }
        .popup-body {
          text-align: center;
          font-size: 16px;
        }
        #myeventTitle {
          font-size: 16px;
        }
        .myeventText {
          font-size: 16px;
        }
        #myEvent img {
        }
        #myEvent {
          height: 95px;
        }
